.labels{
    font-weight: bold;
}
.col{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table {
  table-layout: fixed;
  /*overflow-x: scroll;*/
  display: block;
}
td, th {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
.fix {
  position: absolute;
  *position: relative; /*ie7*/
  text-align:center;
}
.outer {
  position: relative;
}
.inner {
  overflow-x: auto;
  display: inline-block;
}

tbody > tr:hover{
    background: #eee;
    cursor: default !important;
}