.remove-btn{
    cursor: pointer;
    margin-left: 16px;
    padding-left: 6px;
    padding-right: 6px;
}

.remove-btn:hover{
    background: rgba(255,0,0,0.2);
}

.export-excel-btn > a > img {  width: auto;  height: 20px; margin-top: -6px;}
.export-report-btn > a >img {  width: auto%;  height: 20px; margin-top: -6px;}

.export-excel-btn { cursor: pointer; text-align: center; }
.export-report-btn {  cursor: pointer; text-align: center; }
.export-excel-btn:hover { background: #ddd; }
.export-report-btn:hover { background: #ddd; }

.test-item { cursor: default; }
.test-item:hover { color: #009688 !important; }

#test-list > li { list-style-type: none; }