<div class="w3-container main-container">
    <div class="w3-col l10">
        {% for emailInfo in emails %}

            <div class="w3-margin-bottom email-container" id="email-node-{{emailInfo['id']}}" email-id="{{emailInfo['id']}}">

                <div class="w3-white w3-card w3-display-container">

                    <div class="w3-display-topright w3-button remove-email-btn" onclick="$('#email-node-{{emailInfo['id']}}').remove()" style="font-size: large; margin-top: 10px; margin-right: 10px">
                        <i class="fa fa-times-circle"></i>
                    </div>

                    <div class="w3-container"> <!-- style="text-align: justify"> -->

                        <div  style="display: inline-block; width: calc(100% - 100px); margin-bottom: 16px; margin-top: 16px">
                            <h3 class="" style="font-weight: bold; max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;">
                                {{emailInfo['subject']}}
                            </h3>

                            <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0; margin-top: 16px">
                                <b>From:</b> <span id="mailFrom-{{emailInfo['id']}}">{{emailInfo['from']}}</span>
                            </div>

                            {% if emailInfo['to'] %}
                                {% for to in emailInfo['to'] %}
                                    <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0; ">
                                        <b>To:</b> <span class="toinput-{{emailInfo['id']}}">{{to}}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if emailInfo['cc'] %}
                                {% for cc in emailInfo['cc'] %}
                                    <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;">
                                        <b>CC:</b> <span class="ccinput-{{emailInfo['id']}}">{{cc}}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;">
                                <b>Received on:</b> <span id="mailDate-{{emailInfo['id']}}">{{emailInfo['date']}}</span>
                            </div>

                            {% if emailInfo['attachmentCnt'] > 0 %}
                                <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;">
                                    <div><b>Files:</b></div>
                                    {% for attachment in emailInfo['attachments'] %}
                                        <div style="margin-left: 10px">
                                            <b style="margin-right: 10px"><i class="fa fa-paperclip"></i>:</b>
                                            <a href="/admin/emailattachment/{{emailInfo['id']}}/{{attachment['filename']}}">{{attachment['filename']}}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        {% autoescape false %}

                            <!-- Wysiwyg -->
                            <div class="w3-bar" data-role="editor-toolbar" data-target="#editor-{{emailInfo['id']}}">


                                <button class="w3-button" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></button>
                                <button class="w3-button" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></button>
                                <button class="w3-button" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></button>
                                <button class="w3-button" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></button>

                                <div class="w3-dropdown-hover">
                                    <button class="w3-button" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></button>
                                    <div class="w3-dropdown-content w3-bar-block w3-card">
                                      <button class="w3-bar-item w3-button" data-edit="fontSize 5"><font size="5">Huge</font></button>
                                      <button class="w3-bar-item w3-button" data-edit="fontSize 3"><font size="3">Normal</font></button>
                                      <button class="w3-bar-item w3-button" data-edit="fontSize 1"><font size="1">Small</font></button></div>
                                </div>

                                <button class="w3-button" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></button>
                                <button class="w3-button" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></button>
                                <button class="w3-button" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></button>
                                <button class="w3-button" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></button>

                                <button class="w3-button" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></button>
                                <button class="w3-button" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></button>

                                <button class="w3-button" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></button>
                                <button class="w3-button" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></button>

                                <button class="w3-button" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></button>
                                <button class="w3-button" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></button>

                                <button type="button" class="w3-button" data-edit="createlink" title="Add link"><i class="fas fa-link"></i></button>

                                <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">

                            </div>

                            <div class="editor" id="editor-{{emailInfo['id']}}" style="margin-bottom: 16px;">
                                <span id="editor-{{emailInfo['id']}}-emailContentNode" style="color: #aaa;">{{emailInfo['content']|safe}}</span>
                            </div>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>

    <!-- For large screen (computers) -->
    <div class="w3-col l2 w3-container w3-hide-small w3-hide-medium">
        <div class=" w3-white w3-card">

            <a href="#"><div class="w3-center">
                <div id="event-attend-btn" state="true" style="width: 100%; padding:0; margin: 0;" class="w3-center w3-bar-item w3-button" onclick="document.getElementById('actionCommentTicketModal').style.display='block'">
                    <i style="margin-top:16px" class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
                    <div style="margin-bottom:16px; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Ticket</div>
                </div>
            </div></a>

            <a href="#"><div class="w3-center">
                <div id="event-remove-btn" state="true" style="width: 100%; padding:0; margin: 0;" class="w3-center w3-bar-item w3-button" onclick="deleteTicket();">
                    <i style="margin-top:16px" class="fas fa-trash-alt fa-3x" aria-hidden="true"></i>
                    <div style="margin-bottom:16px; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Delete</div>
                </div>
            </div></a>

        </div>
    </div>

    <!-- For medium screens (tablets) -->
    <div class="w3-hide-large w3-hide-small">
        <div id="top" class="w3-bottom">
            <div class="w3-bar w3-white w3-card">

                <a href="#">
                    <div class="w3-center">
                        <div id="event-attend-btn" state="true" style="width: 100%" class="w3-center w3-button" onclick="document.getElementById('actionCommentTicketModal').style.display='block'">
                            <i class=" w3-hide-small fa fa-info-circle" aria-hidden="true"></i>
                            <p style="margin-bottom: 0; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Ticket</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="w3-center">
                        <div id="event-remove-btn" state="true" style="width: 100%" class="w3-center w3-button" onclick="deleteTicket();">
                            <i class=" w3-hide-small fas fa-trash-alt" aria-hidden="true"></i>
                            <p style="margin-bottom: 0; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Delete</p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <!-- For small screens (smartphones) -->
    <div class="w3-hide-large w3-hide-medium">
      <div id="top" class="w3-bottom">
        <div class="w3-bar w3-white w3-padding w3-card w3-center">
            <div class="w3-center w3-quarter">
              <div id="menu-show-btn" state="true" style="width: 100%; display: none;" onclick="$('#id01').show(); $(this).hide();" class="w3-bar-item w3-button">
                                <i class="fa fa-angle-double-up " aria-hidden="true"></i>
                                <span style="font-weight: bold; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;"> Voir le menu</span>
                            </div>
            </div>

            <div id="id01" class="w3-animate-bottom w3-center" style="width: 100%;">
              <div style="width:auto;">
                <a href="#"><div class="" style="display: inline-block;">
                  <div id="event-attend-btn" style="display: inline-block;" state="true" class="w3-padding w3-button" onclick="document.getElementById('actionCommentTicketModal').style.display='block'">
                                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <span style="font-weight: bold; width:100%; margin-top: 10px; font-variant: small-caps;  color: inherit;"> Ticket</span>
                                </div>
                </div></a>
              </div>
              <div style="width:auto;">
                <a href="#"><div class="" style="display: inline-block;" onclick="deleteTicket();">
                  <div id="event-remove-btn" style="display: inline-block;" state="true" class="w3-padding w3-button"><i class="fas fa-trash-alt" aria-hidden="true"></i>
                    <span style="font-weight: bold; width:100%; margin-top: 10px; font-variant: small-caps;  color: inherit;"> Delete</span>
                  </div>
                </div></a>
              </div>

              <div class="w3-center">
                <div style="width: 100%" onclick="$('#id01').hide(); $('#menu-show-btn').show();" class="w3-center w3-padding w3-bar-item w3-button">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="actionCommentTicketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-right" onclick="event.stopPropagation();">

          <header class="w3-container">
              <span onclick="document.getElementById('actionCommentTicketModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h3 class="w3-text-teal">Ticket</h3>
          </header>

          <div class="w3-container">

                <div id="selThreadTicketModal" class="w3-row"  style="margin-top: 16px; margin-bottom: 16px">
                  <label><b>Thread</b></label>
                  <select id="threadInput" class="w3-input w3-border" name="threadInput" required>
                    <option value="0" style="font-weight: bold">New thread</option>
                    {% for thread in threads %}
                        <option value="{{thread['supportthreads_thread_id']}}">[#{{thread['supportthreads_ticketnb']}}]: {{thread['supportthreads_name']}}</option>
                    {%endfor%}
                  </select>
                </div>

                <div id="newThreadTicketModal" class="w3-margin">
                    <div class="w3-row">
                      <label><b>Category</b></label>
                      <select id="newThreadCatInput" class="w3-input w3-border" name="newThreadCatInput" required>
                        {% for category in categories %}
                            <option value="{{category['id']}}">{{category['name']}}</option>
                        {%endfor%}
                      </select>
                    </div>

                    <div class="w3-row w3-margin-top">
                        <label><b>Thread privacy</b></label>
                        <select id="threadPrivacy" class="w3-input w3-border" name="threadPrivacy">
                            <option value="0">Public</option>
                            <option value="1">Signed-in users</option>
                            <option value="2">Registered (level 1)</option>
                            <option value="3">Registered (level 2)</option>
                            <option value="4">Registered (level 3)</option>
                            <option value="5">Registered (level 4)</option>
                            <option value="6">Registered (level 5)</option>
                            <option value="7">Admin</option>
                            <option value="8">Owner</option>
                        </select>
                    </div>

                    <div class="w3-row w3-margin-top">
                      <label><b>User e-mail</b></label>
                      <input id="newThreadEmailInput" class="w3-cell w3-rest w3-input w3-border" type="text" name="newThreadEmailInput" value="{{userEmail}}">
                    </div>

                    <div class="w3-row w3-margin-top">
                      <label><b>Thread name</b></label>
                      <input id="newThreadNameInput" class="w3-cell w3-rest w3-input w3-border" type="text" name="newThreadNameInput" value="{{emails[0]['subject']}}">
                    </div>

                    <div class="w3-row w3-margin-top">
                        <label><b>Reply</b></label>

                        <!-- Wysiwyg -->
                        <div class="w3-bar" data-role="editor-toolbar" data-target="#editor-reply">


                            <!--<div class="w3-bar">-->
                                <button class="w3-button" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></button>
                                <button class="w3-button" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></button>
                                <button class="w3-button" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></button>
                                <button class="w3-button" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></button>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                            <div class="w3-dropdown-hover">
                                <button class="w3-button" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></button>
                                <div class="w3-dropdown-content w3-bar-block w3-card">
                                  <button class="w3-bar-item w3-button" data-edit="fontSize 5"><font size="5">Huge</font></button>
                                  <button class="w3-bar-item w3-button" data-edit="fontSize 3"><font size="3">Normal</font></button>
                                  <button class="w3-bar-item w3-button" data-edit="fontSize 1"><font size="1">Small</font></button></div>
                            </div>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                                <button class="w3-button" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></button>
                                <button class="w3-button" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></button>
                                <button class="w3-button" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></button>
                                <button class="w3-button" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></button>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                                <button class="w3-button" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></button>
                                <button class="w3-button" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></button>
                            <!--</div>-->
                            <!--<div class="w3-bar">-->
                                <button class="w3-button" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></button>
                                <button class="w3-button" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></button>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                                <button class="w3-button" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></button>
                                <button class="w3-button" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></button>
                            <!--</div>-->
                                <button type="button" class="w3-button" data-edit="createlink" title="Add link"><i class="fas fa-link"></i></button>

                            <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">

                        </div>
                        <div class="editor" id="editor-reply" style="margin-bottom: 16px;">
                            <span id="editor-reply-emailContentNode" style="color: #aaa;">

                                <div>Dear {{creatorName}},</div><div><br></div><div>Thank you for your message. A new ticket has been created and we are doing our best to solve it.</div><div><br></div><div><i><b>Important: </b>Please, do not remove the "[#xxxxx]" message from the subject as it is used to track your issue and improve the support. Removing it might make the support harder to do and might increase the required time to solve your problem. <b>Nevertheless, in case of a different problem and in order to keep one issue per ticket, we would strongly recommend you to send a message with a new subject.</b></i></div><div><br></div><div>Best regards,</div><div>Support team.</div>

                            </span>
                        </div>
                        <!-- End of Wysiwyg -->

                        <div class="w3-row w3-container" style="white-space: nowrap;overflow: hidden;display: block;text-overflow: ellipsis;">
                           <input class="w3-check" id="notSend" name="notSend" value="notSend" type="checkbox">
                           <label class="w3-margin-left"><b>Do not send</b></label>
                        </div>
                    </div>
                </div>

                <div class="w3-row w3-margin-bottom" style="width: 100%; text-align:center;">
                  <button class="w3-button w3-black" id="submitTicketModal" style="padding-top: 8px; padding-bottom: 8px; width: 100%"><i class="fa fa-paper-plane w3-margin-right"></i>Send</button>
                </div>
          </div>
        </div>
    </div>

    <form action="/admin/support/newthread" method="POST" id="send-ticket">
        <input name="jsonData" type="hidden" id="json-data" />
    </form>

    <form action="/admin/support/cancelemails" method="POST" id="delete-ticket">
        <input name="jsonData" type="hidden" id="json-data-deleteTicket" />
    </form>

    <script>
        function deleteTicket(){
            var mailList = [];
            $('.email-container').each(function(){
                var mailId = $(this).attr('email-id');
                mailList.push(mailId);
            });

            var myObj = {
                'mails': mailList
            };

            var jsonData = JSON.stringify(myObj, function(key, value) {
                if (value instanceof Date) {
                  return value.toISOString();
                }
                return value;
            });

            $('#json-data-deleteTicket').val(jsonData);
            $('#delete-ticket').submit();
        }

        $(document).ready(function(){
            $('.editor').each(function(){
                var wysiwyg = $(this).configWysiwyg($('#'+$(this).attr('id')+'-emailContentNode').html());
            });
        });

        $('.ellipsis-container').each(function(){
            var p = $(this).find('.ellipsis');
            var divh = $(this).height();

            p.html(p.attr('val'));

            while (p.outerHeight() > divh) {
                p.text(function (index, text) {
                    return text.replace(/\W*\s(\S)*$/, '...');
                });
            }
          });

        $(window).resize(function(){
          console.log("Resize");

          $('.ellipsis-container').each(function(){
            var p = $(this).find('.ellipsis');
            var divh = $(this).height();

            p.html(p.attr('val'));

            while (p.outerHeight() > divh) {
                p.text(function (index, text) {
                    return text.replace(/\W*\s(\S)*$/, '...');
                });
            }
          });
        });

        $('#threadInput').change(function(){
            if($('#threadInput').val() == 0){
                $('#newThreadTicketModal').show();
            } else {
                $('#newThreadTicketModal').hide();
            }
        });

        $('#submitTicketModal').click(function(){

            var mailList = [];
            $('.email-container').each(function(){
                var mailId = $(this).attr('email-id');

                var toList = [];
                $('.toinput-'+mailId).each(function(){
                    toList.push($(this).html());
                });

                var ccList = [];
                $('.ccinput-'+mailId).each(function(){
                    ccList.push($(this).html());
                });

                var mailObj = {
                        'mailId': mailId,
                        'mailContent': $('#editor-'+mailId).html(),
                        'mailTo': toList,
                        'mailCC': ccList,
                        'mailFrom': $('#mailFrom-'+mailId).html(),
                        'mailDate': $('#mailDate-'+mailId).html()
                    }
                mailList.push(mailObj);
            });

            if($('#notSend').is(':checked')){
                sendEmail = 0;
            } else {
                sendEmail = 1;
            }

            var myObj = {
                'mails': mailList,
                'userEmail': $('#newThreadEmailInput').val(),
                'threadId': $('#threadInput').val(),
                'threadName': $('#newThreadNameInput').val(),
                'threadReply': $('#editor-reply').html(),
                'threadCategory': $('#newThreadCatInput').val(),
                'privacy': $('#threadPrivacy').val(),
                'sendEmail': sendEmail
            };

            var jsonData = JSON.stringify(myObj, function(key, value) {
                if (value instanceof Date) {
                  return value.toISOString();
                }
                return value;
            });

            $('#json-data').val(jsonData);
            $('#send-ticket').submit();
        });

    </script>
</div>