<div class="w3-container main-container">
    {% if auth_level >= 7 %}
        <div class="w3-col l10 m12 w3-container">
    {% else %}
        <div class="w3-col l12 m12 w3-container">
    {% endif %}

            {% if info_messages %}
                {% for info_message in info_messages %}
                    <div class="w3-blue w3-card w3-margin-bottom w3-container">
                        <p><b>Info:</b> {{info_message|safe}}</p>
                    </div>
                {%endfor%}
            {%endif%}

            {% if auth_level >= 7 %}
            <div class="w3-white w3-card w3-margin-bottom w3-container">

                <!-- Wysiwyg -->
                <div class="w3-bar" data-role="editor-toolbar" data-target="#editor-reply">


                    <!--<div class="w3-bar">-->
                        <button class="w3-button" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></button>
                        <button class="w3-button" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></button>
                        <button class="w3-button" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></button>
                        <button class="w3-button" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></button>
                    <!--</div>-->

                    <!--<div class="w3-bar">-->
                    <div class="w3-dropdown-hover">
                        <button class="w3-button" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></button>
                        <div class="w3-dropdown-content w3-bar-block w3-card">
                          <button class="w3-bar-item w3-button" data-edit="fontSize 5"><font size="5">Huge</font></button>
                          <button class="w3-bar-item w3-button" data-edit="fontSize 3"><font size="3">Normal</font></button>
                          <button class="w3-bar-item w3-button" data-edit="fontSize 1"><font size="1">Small</font></button></div>
                    </div>
                    <!--</div>-->

                    <!--<div class="w3-bar">-->
                        <button class="w3-button" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></button>
                        <button class="w3-button" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></button>
                        <button class="w3-button" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></button>
                        <button class="w3-button" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></button>
                    <!--</div>-->

                    <!--<div class="w3-bar">-->
                        <button class="w3-button" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></button>
                        <button class="w3-button" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></button>
                    <!--</div>-->
                    <!--<div class="w3-bar">-->
                        <button class="w3-button" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></button>
                        <button class="w3-button" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></button>
                    <!--</div>-->

                    <!--<div class="w3-bar">-->
                        <button class="w3-button" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></button>
                        <button class="w3-button" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></button>
                    <!--</div>-->
                        <button type="button" class="w3-button" data-edit="createlink" title="Add link"><i class="fas fa-link"></i></button>

                    <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">

                </div>

                <div class="editor" id="editor-reply" style="margin-bottom: 16px; min-height: 100px"></div>
                <!-- End of Wysiwyg -->

                <div class="w3-row w3-margin-bottom" style="text-align:center;">
                    <button class="w3-button w3-black w3-margin-bottom" id="submitMessage" style="padding-top: 8px; padding-bottom: 8px; width: 100%">
                        <i class="fa fa-paper-plane w3-margin-right"></i>Send
                    </button>
                </div>
            </div>
            {% endif %}

            {% for message in messages %}
                <div class="w3-white w3-card w3-margin-bottom">
                    <div class="w3-container">
                        {% autoescape false %}
                            <div  style="display: inline-block; width: calc(100% - 0px); margin-bottom: 16px; margin-top: 16px">
                                <div style="margin-top: -10px;">
                                    <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0; margin-top: 16px">
                                        <b>From:</b> {{message['users_email']}}
                                    </div>
                                    <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;">
                                        <b>Received on:</b> {{message['supportmessages_date']}}
                                    </div>

                                    {% if attachements[message['supportmessages_msg_id']] %}
                                        <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;">
                                            <div><b>Files:</b></div>
                                            {% for att in attachements[message['supportmessages_msg_id']] %}
                                                <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;">
                                                    <b style="margin-right: 10px"><i class="fa fa-paperclip"></i>:</b>
                                                    <a href="/ticket/file/{{message['supportmessages_msg_id']}}/{{att['supportmessagesattachment_filename']}}">{{att['supportmessagesattachment_filename']}}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            {{message['supportmessages_msg']}}

                            <div id="email-original-{{message['supportmessages_msg_id']}}" style="display: none">
                                <p><b>Original message:</b></p>
                                {{message['supportmessages_original']}}
                            </div>

                            <p><span class="w3-hover-text-teal" style="cursor: pointer" onclick="$('#email-original-{{message['supportmessages_msg_id']}}').toggle();">View/hide original message...</span></p>
                        {% endautoescape %}
                    </div>
                </div>
            {%endfor%}
        </div>


    {% if auth_level >= 7 %}
        <!-- For large screen (computers) -->
        <div class="w3-col l2 w3-container w3-hide-small w3-hide-medium">
            <div class=" w3-white w3-card">
                <a href="#"><div class="w3-center">
                    <div id="event-attend-btn" state="true" style="width: 100%; padding:0; margin: 0;" class="w3-center w3-bar-item w3-button" onclick="$('#FAQCommentDiv').hide();$('#selectFAQInput').val(-1);$('#FAQNewDiv').hide();document.getElementById('updateThread').style.display='block'">
                        <i style="margin-top:16px" class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
                        <div style="margin-bottom:16px; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Update</div>
                    </div>
                </div></a>
            </div>
            {% if discourse_categories %}
            <div class=" w3-white w3-card w3-margin-top">

                <a href="#"><div class="w3-center">
                    <div id="push-to-discourse" state="true" style="width: 100%; padding:0; margin: 0;" class="w3-center w3-bar-item w3-button" onclick="document.getElementById('pushToDiscourse').style.display='block'">
                        <i style="margin-top:16px" class="fab fa-discourse fa-3x" aria-hidden="true"></i>
                        <div style="margin-bottom:16px; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Discourse</div>
                    </div>
                </div></a>
            </div>
            {% endif %}
            {% if gitlab %}
            <div class=" w3-white w3-card w3-margin-top">

                <a href="#"><div class="w3-center">
                    <div id="push-to-gitlab" state="true" style="width: 100%; padding:0; margin: 0;" class="w3-center w3-bar-item w3-button" onclick="document.getElementById('pushToGitlab').style.display='block'">
                        <i style="margin-top:16px" class="fab fa-gitlab fa-3x" aria-hidden="true"></i>
                        <div style="margin-bottom:16px; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Gitlab</div>
                    </div>
                </div></a>
            </div>
            {% endif %}
        </div>

        <!-- For medium screens (tablets) -->
        <div class="w3-hide-large w3-hide-small">
          <div id="top" class="w3-bottom">
              <div class="w3-bar w3-white w3-card">

                  <a href="#"><div class="w3-center">
                    <div id="event-attend-btn" state="true" style="width: 100%" class="w3-center w3-button" onclick="$('#FAQCommentDiv').hide();$('#selectFAQInput').val(-1);$('#FAQNewDiv').hide();document.getElementById('updateThread').style.display='block'">
                                        <i class=" w3-hide-small fa fa-info-circle" aria-hidden="true"></i>
                                        <p style="margin-bottom: 0; font-weight: bold; width:100%; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;">Update</p>
                                    </div>
                  </div></a>

              </div>
          </div>
        </div>

        <!-- For small screens (smartphones) -->
        <div class="w3-hide-large w3-hide-medium">
          <div id="top" class="w3-bottom">
            <div class="w3-bar w3-white w3-padding w3-card w3-center">
                <div class="w3-center w3-quarter">
                  <div id="menu-show-btn" state="true" style="width: 100%; display: none;" onclick="$('#id01').show(); $(this).hide();" class="w3-bar-item w3-button">
                                    <i class="fa fa-angle-double-up " aria-hidden="true"></i>
                                    <span style="font-weight: bold; text-align: center; margin-top: 10px; font-variant: small-caps;  color: inherit;"> Voir le menu</span>
                                </div>
                </div>

                <div id="id01" class="w3-animate-bottom w3-center" style="width: 100%;">
                  <div style="width:auto;">
                    <a href="#"><div class="" style="display: inline-block;">
                      <div id="event-attend-btn" style="display: inline-block;" state="true" class="w3-padding w3-button" onclick="$('#FAQCommentDiv').hide();$('#selectFAQInput').val(-1);$('#FAQNewDiv').hide();document.getElementById('updateThread').style.display='block'">
                                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        <span style="font-weight: bold; width:100%; margin-top: 10px; font-variant: small-caps;  color: inherit;"> Update</span>
                                    </div>
                    </div></a>

                  </div>

                  <div class="w3-center">
                    <div style="width: 100%" onclick="$('#id01').hide(); $('#menu-show-btn').show();" class="w3-center w3-padding w3-bar-item w3-button">
                                        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
    {% endif %}

    <div id="updateThread" class="w3-modal">
        <div class="w3-modal-content w3-animate-right" onclick="event.stopPropagation();">

          <header class="w3-container">
              <span onclick="document.getElementById('updateThread').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h3 class="w3-text-teal">Update ticket</h3>
          </header>

          <div class="w3-container">
                <form action="/admin/support/update/{{ticketNb}}" method="POST" class="w3-row" onsubmit='return copyContent("faqreply", "editor-FAQReply")'>
                    <div class="w3-row">
                      <label><b>Status (Current: {{status}})</b></label>
                      <select id="updateThreadStatusInput" class="w3-input w3-border w3-margin-bottom" name="updateThreadStatusInput" required>
                        {% for status in statusList %}
                            <option value="{{status['id']}}"> {{status['name']}} </option>
                        {%endfor%}
                      </select>
                    </div>

                    <div class="w3-row w3-margin-top">
                        <label><b>Thread privacy</b></label>
                        <select id="threadPrivacy" class="w3-input w3-border" name="threadPrivacy">
                            <option value="0">Public</option>
                            <option value="1">Signed-in users</option>
                            <option value="2">Registered (level 1)</option>
                            <option value="3">Registered (level 2)</option>
                            <option value="4">Registered (level 3)</option>
                            <option value="5">Registered (level 4)</option>
                            <option value="6">Registered (level 5)</option>
                            <option value="7">Admin</option>
                            <option value="8">Owner</option>
                        </select>
                    </div>

                    <div class="w3-row w3-margin-top">
                        <label><b>Category</b></label>
                        <select id="threadCategory" class="w3-input w3-border w3-margin-bottom" name="threadCategory">
                            {% for cat in ticket_categories %}
                                <option value="{{cat['id']}}">{{cat['name']}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id='FAQCommentDiv' style="display: none">

                        <div class="w3-row">
                          <label><b>FAQ</b></label>
                          <select id="selectFAQInput" class="w3-input w3-border w3-margin-bottom" name="selectFAQInput" required>
                            <option value="-1">No FAQ</option>
                            <option value="0">New FAQ</option>
                            {% for faq in faqList %}
                                <option value="{{faq['supportfaq_faq_id']}}">[Edit] {{faq['supportfaq_question']}}</option>
                            {% endfor %}
                          </select>
                        </div>

                        <div id="FAQNewDiv" style="display: none;">

                            <div class="w3-row w3-margin-top">
                              <label><b>FAQ Question</b></label>
                              <input id="FAQQuestion" class="w3-cell w3-rest w3-input w3-border" type="text" name="FAQQuestion" value="{{name}}">
                            </div>

                            <div class="w3-row w3-margin-top">
                                <label><b>FAQ Privacy</b></label>
                                <select id="publicFAQ" class="w3-input w3-border w3-margin-bottom" name="privacyFAQ">
                                    <option value="0">Public</option>
                                    <option value="1">Signed-in users</option>
                                    <option value="2">Registered (level 1)</option>
                                    <option value="3">Registered (level 2)</option>
                                    <option value="4">Registered (level 3)</option>
                                    <option value="5">Registered (level 4)</option>
                                    <option value="6">Registered (level 5)</option>
                                    <option value="7">Admin</option>
                                    <option value="8">Owner</option>
                                </select>
                            </div>

                            <div class="w3-row w3-margin-top">
                                <label><b>FAQ Response</b></label>

                                <!-- Wysiwyg -->
                                <div class="w3-bar" data-role="editor-toolbar" data-target="#editor-FAQReply">


                                    <!--<div class="w3-bar">-->
                                        <button type="button" class="w3-button" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></button>
                                        <button type="button" class="w3-button" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></button>
                                        <button type="button" class="w3-button" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></button>
                                        <button type="button" class="w3-button" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></button>
                                    <!--</div>-->

                                    <!--<div class="w3-bar">-->
                                    <div class="w3-dropdown-hover">
                                        <button type="button" class="w3-button" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></button>
                                        <div class="w3-dropdown-content w3-bar-block w3-card">
                                          <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 5"><font size="5">Huge</font></button>
                                          <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 3"><font size="3">Normal</font></button>
                                          <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 1"><font size="1">Small</font></button></div>
                                    </div>
                                    <!--</div>-->

                                    <!--<div class="w3-bar">-->
                                        <button type="button" class="w3-button" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></button>
                                        <button type="button" class="w3-button" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></button>
                                        <button type="button" class="w3-button" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></button>
                                        <button type="button" class="w3-button" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></button>
                                    <!--</div>-->

                                    <!--<div class="w3-bar">-->
                                        <button type="button" class="w3-button" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></button>
                                        <button type="button" class="w3-button" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></button>
                                    <!--</div>-->
                                    <!--<div class="w3-bar">-->
                                        <button type="button" class="w3-button" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></button>
                                        <button type="button" class="w3-button" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></button>
                                    <!--</div>-->

                                    <!--<div class="w3-bar">-->
                                        <button type="button" class="w3-button" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></button>
                                        <button type="button" class="w3-button" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></button>
                                    <!--</div>-->
                                        <button type="button" class="w3-button" data-edit="createlink" title="Add link"><i class="fas fa-link"></i></button>

                                    <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">

                                </div>
                                <div class="editor" id="editor-FAQReply" style="margin-bottom: 16px;"></div>
                                <textarea id="faqreply" name="faqreply" style='display: none'></textarea>
                                <!-- End of Wysiwyg -->
                            </div>
                        </div>
                    </div>

                    <div class="w3-row w3-margin-bottom" style="width: 100%; text-align:center;">
                      <button class="w3-button w3-black" type="submit" style="padding-top: 8px; padding-bottom: 8px; width: 100%"><i class="fa fa-paper-plane w3-margin-right"></i>Update</button>
                    </div>
                </form>

          </div>
        </div>
    </div>

    <div id="pushToDiscourse" class="w3-modal">
        <div class="w3-modal-content w3-animate-right" onclick="event.stopPropagation();">

          <header class="w3-container">
              <span onclick="document.getElementById('pushToDiscourse').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h3 class="w3-text-teal">Push to discourse</h3>
          </header>

          <div class="w3-container">
            <form action="/admin/support/todiscourse/{{ticketNb}}" method="POST" class="w3-row">

                <div class="w3-row">
                    <label><b>Category</b></label>
                    <select id="selectDiscourseCat" class="w3-input w3-border w3-margin-bottom" name="selectDiscourseCat" required>
                        {% if discourse_categories%}
                        {% for catTopics in discourse_categories %}
                            <option value="{{catTopics['id']}}">{{catTopics['name']}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <div class="w3-row">
                    <label><b>Topic</b></label>
                    <select id="selectDiscourseTopic" class="w3-input w3-border w3-margin-bottom" name="selectDiscourseTopic" required>
                        <option value="-1">New topic</option>
                        {% if discourse_categories%}
                        {% for topics in discourse_categories[0]['topics'] %}
                            <option value="{{topics['id']}}">{{topics['title']}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <div class="w3-row w3-margin-bottom" id="newDiscourseTopicNode">
                    <label><b>Topic name</b></label>
                    <input id="newDiscourseTopic" class="w3-cell w3-rest w3-input w3-border" type="text" name="newDiscourseTopic" value="{{name}}">
                </div>

                <div class="w3-row w3-margin-bottom" style="width: 100%; text-align:center;">
                  <button class="w3-button w3-black" type="submit" style="padding-top: 8px; padding-bottom: 8px; width: 100%"><i class="fa fa-paper-plane w3-margin-right"></i>Push to discourse</button>
                </div>

            </form>
          </div>
        </div>
    </div>

    <div id="pushToGitlab" class="w3-modal">
        <div class="w3-modal-content w3-animate-right" onclick="event.stopPropagation();">

          <header class="w3-container">
              <span onclick="document.getElementById('pushToGitlab').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h3 class="w3-text-teal">Create GITLab issue</h3>
          </header>

          <div class="w3-container">
                <form action="/admin/support/togitlab/{{ticketNb}}" method="POST" class="w3-row" onsubmit='return copyContent("gitlabIssue", "editor-gitlabIssue")'>

                    <div class="w3-row">
                        <label><b>Project</b></label>
                        <select id="selectGitlabProj" class="w3-input w3-border w3-margin-bottom" name="selectGitlabProj" required>
                            {% for g_prj in gitlab %}
                                <option value="{{g_prj['project_id']}}">{{g_prj['name']}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="w3-row w3-margin-top">
                      <label><b>Issue title</b></label>
                      <input id="gitlabIssueName" class="w3-cell w3-rest w3-input w3-border" type="text" name="gitlabIssueName" value="{{name}}">
                    </div>

                    <div class="w3-row w3-margin-top">
                        <label><b>Issue description</b></label>

                        <!-- Wysiwyg -->
                        <div class="w3-bar" data-role="editor-toolbar" data-target="#editor-gitlabIssue">


                            <!--<div class="w3-bar">-->
                                <button type="button" class="w3-button" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></button>
                                <button type="button" class="w3-button" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></button>
                                <button type="button" class="w3-button" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></button>
                                <button type="button" class="w3-button" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></button>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                            <div class="w3-dropdown-hover">
                                <button type="button" class="w3-button" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></button>
                                <div class="w3-dropdown-content w3-bar-block w3-card">
                                  <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 5"><font size="5">Huge</font></button>
                                  <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 3"><font size="3">Normal</font></button>
                                  <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 1"><font size="1">Small</font></button></div>
                            </div>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                                <button type="button" class="w3-button" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></button>
                                <button type="button" class="w3-button" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></button>
                                <button type="button" class="w3-button" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></button>
                                <button type="button" class="w3-button" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></button>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                                <button type="button" class="w3-button" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></button>
                                <button type="button" class="w3-button" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></button>
                            <!--</div>-->
                            <!--<div class="w3-bar">-->
                                <button type="button" class="w3-button" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></button>
                                <button type="button" class="w3-button" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></button>
                            <!--</div>-->

                            <!--<div class="w3-bar">-->
                                <button type="button" class="w3-button" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></button>
                                <button type="button" class="w3-button" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></button>
                            <!--</div>-->
                                <button type="button" class="w3-button" data-edit="createlink" title="Add link"><i class="fas fa-link"></i></button>

                            <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">

                        </div>
                        <div class="editor" id="editor-gitlabIssue" style="margin-bottom: 16px;">
                            <p><b>Automatically generated issue</b></p>
                            <p>This issue was automatically generated from the following ticket: <a id='ticket_url'></a></p>
                        </div>
                        <textarea id="gitlabIssue" name="gitlabIssue" style='display: none'></textarea>
                        <!-- End of Wysiwyg -->
                    </div>

                    <div class="w3-row w3-margin-bottom" style="width: 100%; text-align:center;">
                      <button class="w3-button w3-black" type="submit" style="padding-top: 8px; padding-bottom: 8px; width: 100%"><i class="fa fa-paper-plane w3-margin-right"></i>Create GitLAB issue</button>
                    </div>
                </form>

          </div>
        </div>
    </div>

    <form action="/admin/support/send" method="POST" id="send-ticket">
        <input name="jsonData" type="hidden" id="json-data" />
    </form>

    <script>
        $('#selectDiscourseCat').change(function(){
            {% for catTopics in discourse_categories %}

            if($(this).val() == "{{catTopics['id']}}"){

                var options = '<option value="-1">New topic</option>';

                {% for topic in catTopics['topics'] %}
                    options += '<option value="{{topic['id']}}">{{topic['title']}}</option>';
                {% endfor %}

                $('#selectDiscourseTopic').html(options);
                $('#selectDiscourseTopic').val('-1');
                $('#newDiscourseTopicNode').show();
            }

            {% endfor %}
        });

        $('#selectDiscourseTopic').change(function(){
            if($(this).val() == '-1'){
                $('#newDiscourseTopicNode').show();
            }else{
                $('#newDiscourseTopicNode').hide();
            }
        });

        $(document).ready(function(){
            //$('#updateThreadStatusInput').val(0);
            $('#FAQCommentDiv').hide();
            $('#selectFAQInput').val(-1);
            $('#FAQNewDiv').hide();
            $('#threadPrivacy').val('{{privacy}}');
            var wysiwyg = $('#editor-reply').configWysiwyg('');
            var wysiwygfaq = $('#editor-FAQReply').configWysiwyg('');
            var wysiwygfaq = $('#editor-gitlabIssue').configWysiwyg('');
            $('#ticket_url').html(window.location.href);
            $('#ticket_url').attr('href',window.location.href);
            $('#threadCategory').val('{{category}}');
            $('#updateThreadStatusInput').val('{{statusInt}}');
        });

        $('#updateThreadStatusInput').change(function(){
            if($(this).val() < 0){
                $('#FAQCommentDiv').show();
            }else{
                $('#FAQCommentDiv').hide();
                $('#selectFAQInput').val(-1);
                $('#FAQNewDiv').hide();
            }
        });

        $('#selectFAQInput').change(function(){
            if($(this).val() >= 0){
                $('#FAQNewDiv').show();
            }else{
                $('#FAQNewDiv').hide();
            }

            if($(this).val() >= 1){
                $.getJSON( '/faq/getContent/'+$(this).val(), function( data ) {
                    $('#FAQQuestion').val(data[0]['supportfaq_question']);
                    $('#publicFAQ').val(data[0]['supportfaq_privacy']);
                    $('#editor-FAQReply').html(data[0]['supportfaq_answer']);
                });
            }else{
                $('#FAQQuestion').val('{{name}}');
                $('#publicFAQ').prop(0);
                $('#editor-FAQReply').html('');
            }
        });

        $('.ellipsis-container').each(function(){
            var p = $(this).find('.ellipsis');
            var divh = $(this).height();

            p.html(p.attr('val'));

            while (p.outerHeight() > divh) {
                p.text(function (index, text) {
                    return text.replace(/\W*\s(\S)*$/, '...');
                });
            }
          });

        $(window).resize(function(){
          console.log("Resize");

          $('.ellipsis-container').each(function(){
            var p = $(this).find('.ellipsis');
            var divh = $(this).height();

            p.html(p.attr('val'));

            while (p.outerHeight() > divh) {
                p.text(function (index, text) {
                    return text.replace(/\W*\s(\S)*$/, '...');
                });
            }
          });
        });


        $('#submitMessage').click(function(){
            var myObj = {
                'threadId': {{threadId}},
                'reply': $('#editor-reply').html()
            };

            var jsonData = JSON.stringify(myObj, function(key, value) {
                if (value instanceof Date) {
                  return value.toISOString();
                }
                return value;
            });

            $('#json-data').val(jsonData);
            $('#send-ticket').submit();
        });

        function copyContent (dirId, fromId) {
            document.getElementById(dirId).value = document.getElementById(fromId).innerHTML;
            return true;
        }
    </script>
</div>