<div class="w3-container main-container">
    <form action="/faq/update/{{details['supportfaq_faq_id']}}" method="POST" class="w3-row" onsubmit='return copyContent()'>
        <div class="w3-white w3-card w3-display-container">
            <div class="w3-container" style="text-align: justify">

              {% autoescape false %}
              <div  style="display: inline-block; width: calc(100% - 100px); margin-bottom: 16px; margin-top: 16px">
                <h3 id="question" class="w3-text-teal" contenteditable="true">{{details['supportfaq_question']}}</h3>
                <input id="FAQQuestion" class="w3-cell w3-rest w3-input w3-border" type="hidden" name="FAQQuestion">

                  <div  style="display: inline-block; width: calc(100% - 0px); margin-bottom: 16px; margin-top: 16px">
                        <div></div>
                        <div style="margin-top: -10px;">
                            <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0; margin-top: 16px">
                                <b>Date:</b> {{details['supportfaq_date']}}
                            </div>
                        </div>
                  </div>

                  <div class="w3-row w3-margin-top">
                        <label><b>FAQ Privacy</b></label>
                        <select id="publicFAQ" class="w3-input w3-border" name="privacyFAQ">
                            <option value="0">Public</option>
                            <option value="1">Signed-in users</option>
                            <option value="2">Registered (level 1)</option>
                            <option value="3">Registered (level 2)</option>
                            <option value="4">Registered (level 3)</option>
                            <option value="5">Registered (level 4)</option>
                            <option value="6">Registered (level 5)</option>
                            <option value="7">Admin</option>
                            <option value="8">Owner</option>
                        </select>
                  </div>
              </div>

              <!-- Wysiwyg -->
              <div class="w3-bar" data-role="editor-toolbar" data-target="#editor-0">

                <!--<div class="w3-bar">-->
                    <button type="button" class="w3-button" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></button>
                    <button type="button" class="w3-button" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></button>
                    <button type="button" class="w3-button" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></button>
                    <button type="button" class="w3-button" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></button>
                <!--</div>-->

                <!--<div class="w3-bar">-->
                <div class="w3-dropdown-hover">
                    <button type="button" class="w3-button" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card">
                      <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 5"><font size="5">Huge</font></button>
                      <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 3"><font size="3">Normal</font></button>
                      <button type="button" class="w3-bar-item w3-button" data-edit="fontSize 1"><font size="1">Small</font></button></div>
                </div>
                <!--</div>-->

                <!--<div class="w3-bar">-->
                    <button type="button" class="w3-button" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></button>
                    <button type="button" class="w3-button" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></button>
                    <button type="button" class="w3-button" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></button>
                    <button type="button" class="w3-button" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></button>
                <!--</div>-->

                <!--<div class="w3-bar">-->
                    <button type="button" class="w3-button" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></button>
                    <button type="button" class="w3-button" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></button>
                <!--</div>-->
                <!--<div class="w3-bar">-->
                    <button type="button" class="w3-button" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></button>
                    <button type="button" class="w3-button" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></button>
                <!--</div>-->

                <!--<div class="w3-bar">-->
                    <button type="button" class="w3-button" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></button>
                    <button type="button" class="w3-button" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-redo"></i></button>
                <!--</div>-->
                    <button type="button" class="w3-button" data-edit="createlink" title="Add link"><i class="fas fa-link"></i></button>

                <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">

              </div>
              <div class="editor" id="editor-0" style="margin-bottom: 16px;">{{details['supportfaq_answer']}}</div>
              <textarea id="faqreply" name="faqreply" style='display: none'></textarea>
              <!-- End of Wysiwyg -->

              {% endautoescape %}

              <div class="w3-row w3-margin-bottom">
                    <button class="export-btn w3-button" id="submit-faq"><b><i class="fas fa-check"></i> EDIT</b></button>
              </div>
            </div>
        </div>
    </form>

    <script>
        $('#publicFAQ').val("{{details['supportfaq_privacy']}}");
    </script>
</div>