<div class="w3-container main-container">
    <div class="w3-row subnav-container">
        <a href="/admin/settings/users" class="w3-button w3-white subnav active">Users</a>
        <!--
        <a href="/admin/settings/orders" class="w3-button w3-grey">Orders</a>
        <a href="/admin/settings/support" class="w3-button w3-grey">Support</a>
        -->
    </div>

    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container w3-padding" style="text-align: justify">
            <h3 class="w3-text-teal">User details(s)</h3>

            <div class="w3-row w3-margin-bottom">
                <label><b>Select account</b></label>
                <select class="w3-input w3-border view-account-sel" name="primary-account-input" onchange="$('.primary-view-node').hide(); $('#primary-'+$(this).val()).show();">
                    <option value='-1'>Select account</option>
                    {% for known in known_users %}
                        <option value="{{known['users_user_id']}}">{{known['users_email']}}</option>
                    {%endfor%}
                </select>
            </div>

            {% for known in known_users%}
            <div id="primary-{{known['users_user_id']}}" class="w3-container w3-border primary-view-node" style="display:none">
                <p><b>{{known['users_email']}}</b></p>
                <div class="w3-container">
                    {% for key in known['json_details'] %}
                    <div><b>{{key}}</b>: {{known['json_details'][key]}}</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if unknown_users %}
        <div class="w3-white w3-card w3-margin-bottom">
            <div class="w3-container w3-padding" style="text-align: justify">
                <h3 class="w3-text-teal">Associate secondary account(s)</h3>
                {% for unknown in unknown_users %}
                    <div class="w3-row"><form action="/admin/settings/associateuser/{{unknown['id']}}" method="POST">
                        <div class="w3-col l4 w3-container">
                            <label><b>Secondary account</b></label>
                            <input type="text" class="w3-input general-details" name='secondary-email-input' value="{{unknown['email']}}" disabled>                             
                        </div>
                        <div class="w3-col l4 w3-container">
                            <label><b>Primary account</b></label>
                            <select data-unknownid="{{unknown['id']}}" class="w3-input w3-border primary-account-sel" name="primary-account-input" required>
                                <option value='-1'>Select account</option>
                                {% for known in known_users %}
                                    <option value="{{known['users_user_id']}}">{{known['users_email']}}</option>
                                {%endfor%}
                            </select>                            
                        </div>
                        <div class="w3-col l4 w3-container" style='margin-top: 20px'>
                            <button class="w3-button" type="submit"><b><i class="fas fa-user-friends" style="margin-right: 16px"></i> Associate accounts</b></button>
                        </div>
                    </form></div>
                    {% for known in known_users%}
                    <div id="primary-{{unknown['id']}}-{{known['users_user_id']}}" class="w3-container w3-border primary-{{unknown['id']}}" style="display:none">
                        <p><b>{{known['users_email']}}</b></p>
                        <div class="w3-container">
                            {% for key in known['json_details'] %}
                            <div><b>{{key}}</b>: {{known['json_details'][key]}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>