<div class="w3-container main-container">

    <h1 class="w3-container m12 s12 w3-col" style="color: #607D8B"><b><i id="ticket-loading" class="fa fa-spinner fa-spin"></i> Tickets</b></h1>

    <div style="display: none" id="no-ticket-box" class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container w3-padding">
            <h3 class="w3-text-teal">No ticket opened!</h3>
        </div>
    </div>

    <div style="display: none" id="new-email-box" class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container w3-padding">
            <h3 class="w3-text-teal">New threads</h3>
            <div id="new-email-list"></div>
        </div>
    </div>

    <div style="display: none" id="tickets-box" class="w3-white w3-card w3-margin-bottom">
        <div id="tickets-list" class="w3-container w3-padding"></div>
    </div>

    {% if discourse_categories %}
        <h1 class="w3-container m12 s12 w3-col" style="color: #607D8B"><b>Discourse</b></h1>

        <div class="w3-white w3-card w3-margin-bottom">
            <div class="w3-container w3-padding">

                {% for cat in discourse_categories %}
                    <div class="discourse-cat">
                        <h3 class="w3-text-teal" style="cursor: pointer" onclick="$(this).toggleClass('hidden'); $('#discourse-cat-{{cat['id']}}').toggle();">
                            <i class="fas fa-eye w3-margin-right"></i>{{cat['name']}}
                        </h3>
                        <div id="discourse-cat-{{cat['id']}}" class="w3-row">
                            {% for topic in cat['topics'] %}
                                {% if topic['closed'] == False %}
                                    <div class="w3-third w3-container w3-margin-bottom discourse-thread">
                                        <a style="cursor: pointer; text-decoration: none;" href="{{discourse_url}}t/{{topic['id']}}" style="text-decoration: none">
                                          <div class="w3-container w3-white w3-border w3-hover-opacity w3-hover-teal">
                                            <p>
                                                <b><div style="display: inline-block; max-width: calc(100% - 100px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                {% if topic['last_poster_user']['moderator'] == False and  topic['last_poster_user']['admin'] == False%}
                                                    <span class="w3-text-red">
                                                {% else %}
                                                    <span>
                                                {% endif %}
                                                {{topic['title']}}</span></div></b>
                                            </p>
                                            <div style="margin: 0; padding:0; line-height: 1.5em; height:3em; max-height:3em; overflow: hidden;">
                                                <p style="line-height: 1.5em; margin:0; padding: 0;text-decoration: none" ><b>Last:</b> {{topic['last_post_ellapsed_time']}}</p>
                                                <p style="line-height: 1.5em; margin:0; padding: 0;text-decoration: none" ><b>From:</b> {{topic['last_poster_user']['name']}}</p>
                                            </div>
                                            <span class="w3-right"><b>{% if topic['has_accepted_answer'] == True %}Solved{% else %}On-going{% endif %}</b></span>
                                          </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {%endfor%}
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
    {%endif%}

    <form id="getMailForm" action="/admin/support/emaildetails" method="post">
        <input id='emailIdsInput' type="text" name="emailIds" hidden>
    </form>

    <script>
        emails = $('#new-email-box').find('.email');
        tickets = $('#tickets-box').find('.ticket');

        if(emails.length <= 0 && tickets.length <= 0){
            $('#no-ticket-box').show();
        }

        {% if emails %}
            $('#new-email-box').show();
        {% endif %}

        {% if threads %}
            $('#tickets-box').show();
        {% endif %}
    </script>
</div>