<div class="w3-container main-container">
    <div class="w3-row subnav-container">
        {% if page_id == 0 %}
            <a href="/admin/log/webapp" class="w3-button w3-white subnav active">General</a>
            {% if gitlab_projects %}
            <a href="/admin/log/gitlab" class="w3-button w3-grey subnav">Gitlab projects</a>
            {% endif %}
            <a href="/admin/log/support" class="w3-button w3-grey subnav">Support</a>

        {% elif page_id == 1 %}
            <a href="/admin/log/webapp" class="w3-button w3-grey subnav">General</a>
            {% if gitlab_projects %}
            <a href="/admin/log/gitlab" class="w3-button w3-white subnav active">Gitlab projects</a>
            {% endif %}
            <a href="/admin/log/support" class="w3-button w3-grey subnav">Support</a>

        {% else %}
            <a href="/admin/log/webapp" class="w3-button w3-grey subnav">General</a>
            {% if gitlab_projects %}
            <a href="/admin/log/gitlab" class="w3-button w3-grey subnav">Gitlab projects</a>
            {% endif %}
            <a href="/admin/log/support" class="w3-button w3-white subnav active">Support</a>

        {% endif %}
    </div>

    <!-- First Photo Grid-->
    <div id='graph-div' class="w3-white w3-card w3-margin-bottom w3-container w3-padding"></div>
</div>