<!DOCTYPE html>
<html>
    <head>

    <title>{{title}}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="">
        <meta name="description" content="CERN ePool - Administration website">
        <link rel="icon" type="image/png" href="/logo" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        {% for src in css_sources %}
            <link rel="stylesheet" href="{{src}}">
        {% endfor %}

        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
            .labels{
                font-weight: bold;
            }
            .col{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/src/templates_js/style_definition.js"></script>

        {% for src in js_sources %}
            <script src="{{src}}"></script>
        {% endfor %}
   </head>

    <body class="w3-light-grey w3-content" style="max-width:1600px">

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>

          <div class="w3-container"><!--  -->
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-large w3-display-topright w3-padding w3-hover-grey" title="close menu">
              <i class="fa fa-remove"></i>
            </a>

            <a href="/"><img src="/logo" style="width:45%;" class="w3-round"></a><br/><br/>
            <!--<p class="w3-text-grey">Template by W3.CSS</p>-->
          </div>

          {% if nav['connectionLevel'] >= 7 %}
              <div class="w3-container">
                <h4><b>Admin</b></h4>
              </div>

              <div class="w3-bar-block" style="font-variant: small-caps;">
                <a href="/admin/support" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-headset fa-fw w3-margin-right"></i>Support</a>
                <a href="/admin/testing/report" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-tasks fa-fw w3-margin-right"></i>Tests</a>
                <a href="/admin/order" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-shopping-cart fa-fw w3-margin-right"></i>Orders</a>
                <a href="/admin/log" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-chart-line fa-fw w3-margin-right"></i>Statistics</a>
                <a href="/admin/settings/users" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-sliders-h fa-fw w3-margin-right"></i>Settings</a>
              </div>
          {% endif %}

          <div class="w3-container">
            <h4><b>User</b></h4>
          </div>

          <div class="w3-bar-block" style="font-variant: small-caps;">
            {% for link in nav['links'] %}
                <a href="{{link['link']}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="{{link['icon']}} fa-fw w3-margin-right"></i>{{link['name']}}</a>
            {% endfor %}
          </div>

          <div class="w3-container">
            <h4><b>Account</b></h4>
          </div>

          <div class="w3-bar-block" style="font-variant: small-caps;">
            {% if nav['connectionLevel'] >= 1 %}
                <a href="/account" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="far fa-id-card fa-fw w3-margin-right"></i>My account</a>
                <a href="/disconnect" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-sign-out-alt fa-fw w3-margin-right"></i>Sign-out</a>
            {%else%}
                <a href="/connect" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-sign-in-alt fa-fw w3-margin-right"></i>Sign-in</a>
            {%endif%}
          </div>
        </nav>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px">

          <!-- Header (Computer)-->
          <header id="portfolio" class="">

            <div class="w3-row">
              <span class="m1 s2 w3-col w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
              <h1 class="w3-container m11 s9 w3-col" style="color: #607D8B"><b>{{page_title}}</b></h1>
            </div>

          </header>

          <!-- First Photo Grid-->
          <div class="w3-row w3-margin-bottom w3-container">
            {{content|safe}}
          </div>

          <!-- Footer -->
          <footer class="w3-container w3-padding-32 w3-dark-grey">
            <p class="w3-right" style='padding-top: 0; padding-bottom: 0; margin: 0'>Developped by <a href='mailto:julian.mendez@cern.ch'>Julian Mendez</a> (CERN)</p>
          </footer>
        <!-- End page content -->
        </div>



        <script>
            // Script to open and close sidebar
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }
        </script>

    </body>
</html>