<div class="w3-container main-container">
    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container">

          {% if nav['connectionLevel'] >= 7 %}
          <div class="w3-right w3-margin"><a href="/support/faq/edit/{{details['supportfaq_faq_id']}}" class="w3-hover-text-teal" style="text-decoration: none"><i class="fas fa-edit"></i> Edit</a></div>
          {% endif %}
          <h3 class="w3-text-teal">{{details['supportfaq_question']}}</h3>

          {% autoescape false %}
          <div  style="display: inline-block; width: calc(100% - 0px); margin-bottom: 16px; margin-top: 16px">
                <div></div>
                <div style="margin-top: -10px;">
                    <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0; margin-top: 16px">
                        <b>Date:</b> {{details['supportfaq_date']}}
                    </div>
                </div>
          </div>

          {{details['supportfaq_answer']}}
          {% endautoescape %}

          {% if nav['connectionLevel'] >= 7 %}
          <div  style="display: inline-block; width: calc(100% - 0px); margin-bottom: 16px; margin-top: 16px">
                <div></div>
                <div style="margin-top: -10px;">
                    <div style="max-width: calc(100% - 0px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0; margin-top: 16px">
                        <b>Related thread:</b> <a href="/ticket/{{details['supportthreads_ticketnb']}}" class="w3-hover-text-teal" style="text-decoration: none">#{{details['supportthreads_ticketnb']}}</a>
                    </div>
                </div>
          </div>
          {% endif %}

        </div>
    </div>
</div>