<div class="w3-container main-container">
    <div class="w3-row subnav-container">
        <a href="/support/faq" class="w3-button w3-white subnav active">F.A.Q</a>
        <a href="/support/tickets" class="w3-button w3-grey subnav">Tickets</a>
    </div>

    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container" style="text-align: justify">

            <h3 class="w3-text-teal">Information</h3>
            <p>
                This list reports the Frequently Asked Questions we received via e-mails. In case of remaining issue, do not hesitate to contact us (<a href="mailto:{{support_addr}}" class="w3-hover-text-teal" style="text-decoration: none"><b>Support contact</b></a>).
            </p>

            <h3 class="w3-text-teal">F.A.Q</h3>
            {% if cnt == 0 %}
                <span class="w3-text-orange"><b>Warning: the current list is empty. Please, ask your question via e-mail</b></span>
            {% else %}
            <ul>
                {% for faq in faqlist %}
                <li><a href="/support/faq/{{faq['supportfaq_faq_id']}}" class="w3-hover-text-teal" style="text-decoration: none"><b>{{faq['supportfaq_question']}}</b></a></li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
    </div>
</div>