<div class="w3-container main-container">
    {% if orders %}
      <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container w3-padding" style="text-align: justify">
            <h3 class="w3-text-teal">Order(s)</h3>
            <div class="w3-row w3-margin-bottom">
                <div class="w3-row w3-margin-bottom">
                    <div class="w3-col l2 w3-container"><b>Date</b></div>
                    <div class="w3-col l3 w3-container"><b>E-mail</b></div>
                    <div class="w3-col l6 w3-container"><b>Details</b></div>
                    <div class="w3-col l1 w3-container"><b>All <i class="fas fa-question-circle show-allorder-details" style="cursor: help;"></i></b></div>
                </div>

                {% for order in orders %}
                <div class="order">
                    <div class="w3-row order-title">
                        <div class="w3-col l2 w3-container" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" title="{{order[0]['orderinstance_date']}}">{{order[0]['verbose_date']}}</div>
                        <div class="w3-col l3 w3-container" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" title="{{order[0]['users_email']}}">{{order[0]['users_email']}}</div>
                        <div class="w3-col l6 w3-container" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" title="{{order[0]['orderinstance_details']}}">{{order[0]['orderinstance_details']}}</div>
                        <div class="w3-col l1 w3-container"><i class="fas fa-question-circle show-order-details" style="cursor: help;"></i></div>
                    </div>
                    <div class="w3-row w3-container order-details" style="display: none">
                        <p><b>Details:</b></p>
                        <ul>
                        {% for item in order %}
                            <li>{{item['orderitemreq_qty']}} {{item['details']['vname']}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
      </div>
    {% endif %}

    {% if threads %}
      <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container w3-padding" style="text-align: justify">

            <h3 class="w3-text-teal">Support</h3>
            {% for thread in threads %}
                <div class="w3-third w3-container w3-margin-bottom">
                    <a style="cursor: pointer; text-decoration: none;" href="/ticket/{{thread['supportthreads_ticketnb']}}" style="text-decoration: none">
                      <div class="w3-container w3-white w3-border w3-hover-opacity w3-hover-teal">
                        <p>
                            <b><div style="display: inline-block; max-width: calc(100% - 100px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{thread['supportthreads_name']}} </div></b>
                        </p>
                        <div style="margin: 0; padding:0; line-height: 1.5em; height:3em; max-height:3em; overflow: hidden;">
                            <p style="text-align: justify; line-height: 1.5em; margin:0; padding: 0;text-decoration: none" >{{thread['users_email']}}</p>
                        </div>
                        <span class="w3-right"><b>{{thread['statusVerbose']}}</b></span>
                      </div>
                    </span>
                </div>
            {%endfor%}
        </div>
      </div>
    {%endif%}
</div>