<div class="main order-admin">
    <div class="production">
        <h3 class="production-title">Production(s)</h3>

        <div class="row labels">
            <div class="col date">Date</div>
            <div class="col devices">Devices</div>
            <div class="col quantity">Quantity</div>
            <div class="col not-assigned">Not assigned</div>
        </div>

        {% for batch in batches %}
        <div class="row">
            <div class="col date" title="{{batch['date_batches_date']}}">{{batch['date_batches_date']}}</div>
            <div class="col devices" title="{{batch['batches_name']}}" >{{batch['batches_name']}}</div>
            <div class="col quantity" title="{{batch['batches_qty']}}" >{{batch['batches_qty']}}</div>
            <div class="col not-assigned" title="{{batch['stock']}}" >
                {% if batch['stock'] > 0 %}
                    <span class="alert">{{batch['stock']}}<span>
                {% else %}
                    <span class="alert">{{batch['stock']}}<span>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="row">
            <button class="button" onclick="document.getElementById('new-batch-modal').style.display='block'">New batch</button>
        </div>

    </div>

    {% if orders %}

        <div class="pending-orders">
            <h3 class="pending-orders-title">Pending order(s)</h3>

            <div class="row labels">
                <div class="col date">Date</div>
                <div class="col user-email">User email</div>
                <div class="col details">Details</div>
                <div class="col manage">Manage</div>
            </div>

            {% for order in orders %}
            <div class="row">
                <div class="col date" title="{{order['orderinstance_date']}}">{{order['orderinstance_date']}}</div>
                <div class="col user-email" title="{{order['users_email']}}">{{order['users_email']}}</div>
                <div class="col details" title="{{order['orderinstance_details']}}">{{order['orderinstance_details']}}</div>
                <div class="col manage">
                    <i
                        onclick="manage_order($(this))"
                        style="cursor: pointer;"
                        class="fa fa-shopping-cart fa-fw"
                        data-orderdetails='{{order["items"]}}'
                    ></i>
                </div>
            </div>
            {% endfor %}
        </div>

    {% endif %}
</div>

    <div id="new-batch-modal" class="w3-modal">
      <div class="w3-modal-content">

        <header class="w3-container">
          <span onclick="document.getElementById('new-batch-modal').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
          <h2>New batch</h2>
        </header>

        <form action='/admin/order/newbatch' method='POST'>
            <div class="w3-container">
                <div class="w3-row w3-container w3-margin-bottom">
                    <label><b>Quantity</b></label>
                    <input type="number" min='0' class="w3-input" name="qty">
                </div>
                <div class="w3-row w3-container w3-margin-bottom">
                    <label><b>Reception date</b></label>
                    <input type="date" class="w3-input" name="date">
                </div>

                <div class="w3-row w3-container w3-margin-bottom">
                    <label><b>Device</b></label>
                    <select id='batch-device-select' class="w3-input w3-border" name="devdbname" required>
                        <option value='' disabled style="font-weight: bold" selected="selected">Select device</option>
                        {% for device in devices %}
                        <option value="{{device['dbname']}}">{{device['vname']}}</option>
                        {% endfor %}
                    </select>
                </div>

                {% for device in devices %}
                <div class="w3-row w3-container device-batch-info w3-margin-bottom" id="{{device['dbname']}}-batch-form" style="display: none">
                    {% for batchField in device['batchDetails'] %}
                        <label><b>{{batchField['verbose']}}</b></label>
                        <input type="text" class="w3-input" name="{{device['dbname']}}-{{batchField['name']}}"><br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <footer class="w3-container">
              <button type='submit' class="w3-button w3-margin-bottom"><b>Add</b></button>
            </footer>
        </form>

      </div>
    </div>

    <div id="manage-order-modal" class="w3-modal">
      <div class="w3-modal-content">

        <header class="w3-container">
          <span onclick="document.getElementById('manage-order-modal').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
          <h2>Manage order</h2>
        </header>

        <p class="w3-margin"><b>Dev. in progress...</b></p>
      </div>
    </div>
</div>