<div class="w3-container main-container">
    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container" style="text-align: justify">

            <h3 class="w3-text-teal">Information</h3>
            {{introduction |safe}}

            <div id='errorbox' class="w3-margin-bottom w3-red w3-card w3-padding" style="display: none">
                <div class="w3-container" style="text-align: justify">
                    <div class="w3-red w3-container w3-card"><p><b>Error</b>: <span id='errorbox-msg'></span></p></div>
                </div>
            </div>

            <h3 class="w3-text-teal">General details</h3>
            <div class="w3-row w3-margin-bottom">
                {% for field in form %}
                <div class="w3-col l{{field['width']}} w3-container">
                    <label><b>{{field['verbose']}}</b></label>

                    {% if field['type'] == 'list' %}
                        <select vname="{{field['verbose']}}" class="w3-input w3-border general-details" name="{{field['name']}}" required>
                            {% for option in field['options'] %}
                                <option value="{{option['value']}}">{{option['text']}}</option>
                            {%endfor%}
                        </select>

                    {% elif field['type'] == 'date' %}
                        <input vname="{{field['verbose']}}"  type="date" class="w3-input general-details" name="{{field['name']}}" placeholder='YYYY-MM-DD'>
                    {% else %}
                        <input vname="{{field['verbose']}}"  type="text" class="w3-input general-details" name="{{field['name']}}">
                    {% endif %}
                 
                </div>

                {% endfor %}
            </div>

            <h3 class="w3-text-teal">Basket</h3>

            <p id="user-order-empty" style='font-weight:bold;color:orange'><b>Warning:</b> Your basket is empty.</p>

            <div id="user-order" style="display: none">
                <div id="user-order-list"></div>
                <div class="w3-row w3-margin-bottom">
                    <button class="send-order-btn w3-button" type="submit"><b><i class="fas fa-paper-plane" style="margin-right: 16px"></i> SEND ORDER</b></button>
                    <span id='estimated-cost'></span>
                </div>
            </div>

            <h3 class="w3-text-teal">List of devices</h3>

            {% if enableDeviceSearcher == True %}
                <div class="w3-margin-bottom">
                    <div class="w3-row">
                        <div style="margin-top:10px;" class="w3-col l12 m12 s12">
                            <input autocomplete="off" class="w3-input w3-border" type="text" id="device-filter" placeholder="Search for device..." required name="title">
                        </div>
                    </div>
                </div>

                <h4><span id='article-cnt'></span> r&eacute;sult(s):</h4>
            {% endif %}


            {% for package in packages %}
                {% if package['indivualPurchase'] %}
                    <div class="w3-row w3-margin-bottom w3-container w3-border w3-padding item" data-type="package" data-moq="{{package['moq']}}" data-vname="{{package['vname']}}" data-dbname="{{package['dbname']}}" style="cursor: help">

                        <div class="w3-row">
                            <div class="w3-right w3-margin-right">
                                Quantity: <input autocomplete="off" type="number" name="quantity" style="width: 50px" value="0"  min="0"/>
                                <button class="add-btn add-item-btn w3-button" style="padding: 4px 16px; margin-top: -4px;" disabled><b><i class="fa fa-shopping-cart fa-fw"></i></b></button>
                            </div>

                            <b>{{package['vname']}}</b>
                        </div>

                        <div class="w3-row description w3-margin-top">
                            {{package['description']|safe}}

                            <p>Package made of:</p>
                            <ul class="w3-col l12 w3-container package-devices w3-margin-left">{% for device in package['devices'] %}<li>{{device['qty']}} {{device['vname']}}</li>{% endfor %}</ul>
                        </div>

                        <div class="w3-row form" style="display: none">
                            {% if package['form'] and package['form']|length %}
                                <p><b class="w3-text-red">Please, fill-up the following form:</b></p>
                            {% endif %}

                            {% for field in package['form'] %}

                            <div class="w3-col l12 w3-container">
                                <label><b>{{field['verbose']}}</b></label>

                                {% if field['type'] == 'list' %}
                                    <select data-vname="{{field['verbose']}}" class="w3-input w3-border item-form-input" name="{{field['name']}}" required>
                                        {% for option in field['options'] %}
                                            <option value="{{option['value']}}">{{option['text']}}</option>
                                        {%endfor%}
                                    </select>

                                {% elif field['type'] == 'date' %}
                                    <input data-vname="{{field['verbose']}}"  type="date" class="w3-input item-form-input" name="{{field['name']}}" placeholder='YYYY-MM-DD'>

                                {% else %}
                                    <input data-vname="{{field['verbose']}}"  type="text" class="w3-input item-form-input" name="{{field['name']}}">
                                {% endif %}                                     
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}


            {% for device in devices %}
                {% if device['indivualPurchase'] %}
                    <div class="w3-row w3-margin-bottom w3-container w3-border w3-padding item" data-type="device" data-moq="{{device['moq']}}" data-vname="{{device['vname']}}" data-dbname="{{device['dbname']}}" style="cursor: help">

                        <div class="w3-row">
                            <div class="w3-right w3-margin-right">
                                Quantity: <input autocomplete="off" type="number" name="quantity" style="width: 50px" value="0"  min="0"/>
                                <button class="add-btn add-item-btn w3-button" style="padding: 4px 16px; margin-top: -4px;" disabled><b><i class="fa fa-shopping-cart fa-fw"></i></b></button>
                            </div>

                            <b>{{device['vname']}}</b>
                        </div>

                        <div class="w3-row description w3-margin-top">
                            {{device['description']|safe}}
                        </div>

                        <div class="w3-row form w3-margin-top" style="display: none">
                            {% for field in device['form'] %}

                            <div class="w3-col l12 w3-container">
                                <label><b>{{field['verbose']}}</b></label>

                                {% if field['type'] == 'list' %}
                                    <select data-vname="{{field['verbose']}}" class="w3-input w3-border item-form-input" name="{{field['name']}}" required>
                                        {% for option in field['options'] %}
                                            <option value="{{option['value']}}">{{option['text']}}</option>
                                        {%endfor%}
                                    </select>

                                {% elif field['type'] == 'date' %}
                                    <input data-vname="{{field['verbose']}}"  type="date" class="w3-input item-form-input" name="{{field['name']}}" placeholder='YYYY-MM-DD'>

                                {% else %}
                                    <input data-vname="{{field['verbose']}}"  type="text" class="w3-input item-form-input" name="{{field['name']}}">
                                {% endif %}                                     
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <form action="/order/send" method="POST" id="send-order-form">
        <input name="jsonData" type="hidden" id="json-data" />
    </form>
</div>