<div class="w3-container main-container">
    <div class="w3-row subnav-container">
        <a href="/admin/testing/report" class="w3-button w3-white subnav active">Report</a>
        <a href="/admin/testing/analyze" class="w3-button w3-grey subnav">Analyzes</a>
    </div>

    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container" style="text-align: justify">

            <h3 class="w3-text-teal">Report</h3>
            <p>
                Export data of a test from the test-result-db.
            </p>

            <!--
              --
              --
              --  Filter section
              --
              --
              -->
            <h3 class="w3-text-teal">Filter(s)</h3>

            <ul id='filter-list'></ul>

            <div class="w3-row w3-margin-bottom">

                <!-- FILTER: Column select input -->
                <div class="w3-col l3 w3-container">
                    <label><b>Column</b></label>
                    <select id='filter-select-column'
                            class="w3-select"
                            name="option"
                            onchange="$('.filter-select-keynode').hide(500); $('#filter-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                      <option value="" disabled selected>Choose a column</option>

                        <optgroup label="Test">
                            <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                            <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                            <option value="Test_details" table-name='TestInstances' column='Description' paramName='filter-select-Testkeyname'>Test details</option>
                            <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                        </optgroup>

                        <optgroup label="Equipment">
                            <option value="Equipment_id" table-name='Equipment' column='Eq_id'>Equipment id</option>
                            <option value="Equipment_name" table-name='Equipment' column='Name'>Equipment name</option>
                            <option value="Equipment_details" table-name='Equipment' column='Description' paramName='filter-select-Devicekeyname'>Equipment details</option>
                        </optgroup>

                    </select>
                </div>

                <!-- FILTER: Parameters inputs (description keys) -->
                <div id='filter-select-Test_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Test desc. key</b></label>
                    <input id='filter-select-Testkeyname' class="w3-input" type="text">
                </div>

                <div id='filter-select-Equipment_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Device desc. key</b></label>
                    <input id='filter-select-Devicekeyname' class="w3-input" type="text">
                </div>

                <!-- FILTER: Comparator -->
                <div class="w3-col l2 w3-container">
                    <label><b>Comparator</b></label>
                    <select id="filter-select-comp" class="w3-select" name="option">
                      <option value="" disabled selected>Choose a comparator</option>
                      <option value="=">=</option>
                      <option value="!=">!=</option>
                      <option value="<">&lt;</option>
                      <option value="<=">&lt;=</option>
                      <option value=">">&gt;</option>
                      <option value=">=">&gt;=</option>
                      <option value="LIKE">LIKE</option>
                      <option value="IS NOT NULL">IS NOT NULL</option>
                      <option value="IS NULL">IS NULL</option>
                    </select>
                </div>

                <!-- FILTER: Compare with value -->
                <div id='filter-select-valuenode' class="w3-col l2 w3-container">
                    <label><b>Value</b></label>
                    <input id='filter-select-value' class="w3-input" type="text">
                </div>

                <!-- FILTER: Column type -->
                <div class="w3-col l2 w3-container">
                    <label><b>Type</b></label>
                    <select id="filter-select-type" class="w3-select" name="option">
                      <option value="" disabled selected>Choose a type</option>
                      <option value="">String / None</option>
                      <option value="int">Integer</option>
                      <option value="float">Float</option>
                      <option value="date">Date</option>
                      <option value="boolean">Bool</option>
                    </select>
                </div>

                <div class="w3-col l1 w3-container" style="margin-top:22px">
                    <button id='filter-btn-add' class="w3-button"><b>Add filter</b></button>
                </div>
            </div>

            <!--
              --
              --
              --  List of test section
              --
              --
              -->
            <h3 class="w3-text-teal">Test(s)</h3>

            <ul id='test-list'>

                <li class='w3-row w3-margin-bottom' style='font-weight: bold; text-align: center'>
                    <div class='w3-col m3'>Date</div>
                    <div class='w3-col m3'>Eq. name</div>
                    <div class='w3-col m3'>Test pass</div>
                    <div class='w3-col m2'></div>
                </li>
            </ul>


        </div>
    </div>

    <form id="form-export" style="display: none;">
        <input type="hidden" id= "form-filters" />
        <input type="hidden" id= "form-groups" />
        <input type="hidden" id= "form-chart" />
    </form>


    <div id="report-show-modal" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container w3-padding">
            <span onclick="document.getElementById('report-show-modal').style.display='none'"  class="w3-button w3-display-topright">&times;</span>
            <h4>Generate report</h4>
            <div class="w3-container">
                <form action='/admin/testing/report/ReportRender' method='post'>
                    <input type="hidden" name='test-id' id= "test-id-report-form" />
                    <textarea style="width: 100%; height: 500px"id= "display-report-form" name='display' ></textarea>
                    <button style="margin-top:16px; width: 100%; text-align: center" class="w3-button">View</button>
                </form>
            </div>
        </div>
      </div>
    </div>

    <script>

        $.fn.removeFilter = function() {
            $(this).parent().remove();
            updateTestList();
        };

        function addFilter(table, column, jsonfield, type, comp, val){

            if(type == null){
                type = '';
            }

            var filterText = type+' ('+column;
            if(jsonfield != ''){
                filterText += '['+jsonfield+']';
            }
            filterText += ') '+comp+' '+val;

            $('#filter-list').append('<li type="'+type+'" column="'+column+'" jsonfield="'+jsonfield+'" comp="'+comp+'" val="'+val+'" tablename="'+table+'">'+
                    '    <span>'+filterText+'</span> '+
                    '    <span class="w3-text-red remove-btn" title="Remove" onclick="$(this).removeFilter()"><b>x</b></span>'+
                    '</li>');
        }

        function updateTestList(){
            /** Get filters */
            var filters = [];

            /** Get filters */
            $('#filter-list > li').each(function(){

                var obj = {
                        'table'     : $(this).attr('tablename'),
                        'column'    : $(this).attr('column'),
                        'jsonfield' : $(this).attr('jsonfield'),
                        'val'       : $(this).attr('val'),
                        'comp'      : $(this).attr('comp'),
                        'type'      : $(this).attr('type')
                    }

                $.each(obj, function(key, value){
                    if (value === "" || value === null){
                        delete obj[key];
                    }
                });

                filters.push(obj);

            });

            $('.test-item').remove();
            if(filters.length <= 0){
                $('#test-list').append('<li class="test-item">Please, set a least one filter.</li>');
                return;
            }

            $('.test-item').remove();

            $.ajax({
                type: "POST",
                url : '/admin/testing/getTests',
                dataType : 'json',
                data: {filter: JSON.stringify(filters)},
                success : function(data){
                    $.each(data, function(key, value){
                        console.log(value);

                        var vdate = value['testinstances_date'];
                        if (value['testinstances_date'] == ''){
                            vdate = '<i>No date</i>';
                        }

                        var veqname = value['devices_name'];
                        if (value['devices_name'] == ''){
                            veqname = '<i>No name</i>';
                        }

                        var vtestpass = value['testinstances_pass'];
                        if(value['testinstances_pass'] == 0){
                            vtestpass = '<b style="color: green">PASSED</b>';
                        }else {
                            vtestpass = '<b style="color: red">FAILED ('+value['testinstances_pass']+')</b>';
                        }

                        $('#test-list').append(
                            "<li class='test-item'>"+
                            "    <div class='Test_date w3-col m3'>"+vdate+"</div>"+
                            "    <div class='Equipment_name w3-col m3'>"+veqname+"</div>"+
                            "    <div class='Test_pass w3-col m3' style='text-align: center;'>"+vtestpass+"</div>"+
                            "    <div class='export-excel-btn w3-col m1'><a href='/admin/testing/report/ExcelRender/"+value['testinstances_test_id']+"' target='_blank'><img src='{{url_for('static', filename='img/excel-logo.png')}}' /></a></div>"+
                            "    <div class='export-excel-btn w3-col m1'><a onClick='view_report("+value['testinstances_test_id']+")'><img src='{{url_for('static', filename='img/report-logo.png')}}' /></a></div>"+
                            "    <div class='export-report-btn w3-col m1'></div>"+
                            "</li>");
                    });
                }
            });
        }

        function view_report(test_id){
            $('#report-show-modal').show();
            $('#test-id-report-form').val(test_id);
        }

        $(document).ready( function() {
            'use strict';

            $('#filter-select-comp').change(function(){
                console.log('Value: '+$(this).val())
                if($(this).val() == 'IS NULL' || $(this).val() == 'IS NOT NULL'){
                    $('#filter-select-valuenode').fadeOut(500);
                    $('#filter-select-value').val('');
                }
                else{
                    $('#filter-select-valuenode').fadeIn(500);
                }
            });


            /**
              *
              * Click on "Add Filter" button
              *
              **/
            $('#filter-btn-add').click(function(){

                var table = $('#filter-select-column').find(":selected").attr('table-name');
                var column = $('#filter-select-column').find(":selected").attr('column');
                var jsonfield = '';
                var type = $('#filter-select-type').val();
                var comp = $('#filter-select-comp').val();
                var val = $('#filter-select-value').val();

                if($('#filter-select-column').find(":selected").attr('paramName')){
                    jsonfield = $('#'+$('#filter-select-column').find(":selected").attr('paramName')).val();
                }

                $('#errorbox').hide(500);
                addFilter(table, column, jsonfield, type, comp, val)

                /* Update list of test */
                updateTestList();

            });

        });

    </script>
</div>