<div class="w3-container main-container">
    <div class="w3-row subnav-container">
        <a href="/admin/testing/report" class="w3-button w3-grey subnav">Report</a>
        <a href="/admin/testing/analyze" class="w3-button w3-white subnav active">Analyzes</a>
    </div>

    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container" style="text-align: justify">

            <h3 class="w3-text-teal">Analyze</h3>

            {% if error %}
            <div id='errorbox' class="w3-margin-bottom">
                <div class="w3-container" style="text-align: justify">
                    <div class="w3-red w3-container w3-card"><p><b>Error</b>: {{error |safe}}</p></div>
                </div>
            </div>
            {% else %}
            <p>
            Graph report:
            </p>
            <div id='graph-div' style="text-align: center">
                <i id="wait-for-graph" class="fa fa-spinner fa-spin" style="font-size:72px"></i>
            </div>
            {% if pythonScript %}
                <div>

                    <p>
                    Python script: (<a href="/downloadLib" class="">Download library <i class="fas fa-file-download fa-fw"></i></a>)
                    </p>
                </div>
                <pre style="overflow-y: auto;" class="w3-code pythonHigh"><code>{{pythonScript |safe}}</code></pre>
            {% endif %}
            {% endif %}

        </div>
    </div>

    <form id="form-export" style="display: none;">
        <input type="hidden" id= "form-filters" />
        <input type="hidden" id= "form-groups" />
        <input type="hidden" id= "form-chart" />
    </form>

    <script>
        w3CodeColor();

        $.ajax({
            type: "POST",
            url : "/admin/testing/analyze/GetGraphImg",
            timeout:20000,
            dataType : 'json',
            data: {filter: '{{filters |safe}}', groups: '{{groups |safe}}', chart: '{{chart |safe}}'},
            success : function(data){
                if (data['status'] == 'success'){
                    $('#graph-div').html('<img src="'+data['img']+'"/>');
                }else{
                    $('#graph-div').html(
                            '<div class="w3-margin-bottom">'+
                            '    <div class="w3-container" style="text-align: justify">'+
                            '        <div class="w3-red w3-container w3-card"><p><b>Error</b>: '+data['str']+'</p></div>'+
                            '    </div>'+
                            '</div>'
                        );
                }
            },
            error: function(){
                $('#graph-div').html(
                        '<div class="w3-margin-bottom">'+
                        '    <div class="w3-container" style="text-align: justify">'+
                        '        <div class="w3-red w3-container w3-card"><p><b>Error</b>: graph was not loaded. The analyze might be too difficult to be done quickly. Please run the python script on your machine.</p></div>'+
                        '    </div>'+
                        '</div>'
                    );
            }
        });
    </script>
</div>