<div class="w3-container main-container">
    <div class="w3-row subnav-container">
        <a href="/admin/testing/report" class="w3-button w3-grey subnav">Report</a>
        <a href="/admin/testing/analyze" class="w3-button w3-white subnav active">Analyzes</a>
    </div>

    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container" style="text-align: justify">

            <h3 class="w3-text-teal">Analyzes</h3>
            <p>
                Export data from the test-result-db in CSV.
            </p>

            <!--
              --
              --
              --  Filter section
              --
              --
              -->
            <h3 class="w3-text-teal">Filter(s)</h3>

            <ul id='filter-list'></ul>

            <div class="w3-row w3-margin-bottom">

                <!-- FILTER: Column select input -->
                <div class="w3-col l3 w3-container">
                    <label><b>Column</b></label>
                    <select id='filter-select-column'
                            class="w3-select"
                            name="option"
                            onchange="$('.filter-select-keynode').hide(500); $('#filter-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                        <option value="" disabled selected>Choose a column</option>

                        <optgroup label="Test">
                            <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                            <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                            <option value="Test_details" table-name='TestInstances' column='Details' paramName='filter-select-Testkeyname'>Test details</option>
                            <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                        </optgroup>

                        <optgroup label="Test type">
                            <option value="TestTypes_id" table-name='TestTypes' column='Testtype_id'>TestTypes id</option>
                            <option value="TestTypes_name" table-name='TestTypes' column='name'>TestTypes name</option>
                            <option value="TestTypes_details" table-name='TestTypes' column='Details' paramName='filter-select-TestTypekeyname'>TestTypes details</option>
                        </optgroup>

                        <optgroup label="Subtest instance">
                            <option value="SubTestInstances_id" table-name='SubTestInstances' column='Subtest_id'>SubTestInstances id</option>
                            <option value="SubTestInstances_name" table-name='SubTestInstances' column='name'>SubTestInstances name</option>
                            <option value="SubTestInstances_details" table-name='SubTestInstances' column='Details' paramName='filter-select-SubtestInstkeyname'>SubTestInstances details</option>
                            <option value="SubTestInstances_pass" table-name='SubTestInstances' column='pass'>SubTestInstances pass</option>
                        </optgroup>

                        <optgroup label="Devices">
                            <option value="Equipment_id" table-name='Devices' column='Eq_id'>Device id</option>
                            <option value="Equipment_name" table-name='Devices' column='Name'>Device name</option>
                            <option value="Equipment_details" table-name='Devices' column='Details' paramName='filter-select-Devicekeyname'>Device details</option>
                        </optgroup>

                        <optgroup label="Measurement">
                            <option value="MeasurementInstances_id" table-name='MeasurementInstances' column='measure_id'>MeasurementInstances id</option>
                            <option value="MeasurementInstances_name" table-name='MeasurementInstances' column='Name'>MeasurementInstances name</option>
                            <option value="MeasurementInstances_results" table-name='MeasurementInstances' column='result' paramName='filter-select-Resultkeyname'>MeasurementInstances details</option>
                            <option value="MeasurementInstances_pass" table-name='MeasurementInstances' column='pass'>MeasurementInstances pass</option>
                        </optgroup>

                    </select>
                </div>

                <!-- FILTER: Parameters inputs (description keys) -->
                <div id='filter-select-Test_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Test desc. key</b></label>
                    <input id='filter-select-Testkeyname' class="w3-input" type="text">
                </div>

                <div id='filter-select-TestTypes_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>TestType desc. key</b></label>
                    <input id='filter-select-TestTypekeyname' class="w3-input" type="text">
                </div>

                <div id='filter-select-SubTestInstances_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Subtest desc. key</b></label>
                    <input id='filter-select-SubtestInstkeyname' class="w3-input" type="text">
                </div>

                <div id='filter-select-Equipment_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Device desc. key</b></label>
                    <input id='filter-select-Devicekeyname' class="w3-input" type="text">
                </div>

                <div id='filter-select-MeasurementInstances_resultskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Result desc. key</b></label>
                    <input id='filter-select-Resultkeyname' class="w3-input" type="text">
                </div>

                <div id='filter-select-Settings_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Setting desc. key</b></label>
                    <input id='filter-select-Settingkeyname' class="w3-input" type="text">
                </div>

                <div id='filter-select-Extras_detailskeynode' class="w3-col l2 w3-container filter-select-keynode" style="display: none">
                    <label><b>Extra desc. key</b></label>
                    <input id='filter-select-Extraskeyname' class="w3-input" type="text">
                </div>

                <!-- FILTER: Comparator -->
                <div class="w3-col l2 w3-container">
                    <label><b>Comparator</b></label>
                    <select id="filter-select-comp" class="w3-select" name="option">
                      <option value="" disabled selected>Choose a comparator</option>
                      <option value="=">=</option>
                      <option value="!=">!=</option>
                      <option value="<">&lt;</option>
                      <option value="<=">&lt;=</option>
                      <option value=">">&gt;</option>
                      <option value=">=">&gt;=</option>
                      <option value="LIKE">LIKE</option>
                      <option value="IS NOT NULL">IS NOT NULL</option>
                      <option value="IS NULL">IS NULL</option>
                    </select>
                </div>

                <!-- FILTER: Compare with value -->
                <div id='filter-select-valuenode' class="w3-col l2 w3-container">
                    <label><b>Value</b></label>
                    <input id='filter-select-value' class="w3-input" type="text">
                </div>

                <!-- FILTER: Column type -->
                <div class="w3-col l2 w3-container">
                    <label><b>Type</b></label>
                    <select id="filter-select-type" class="w3-select" name="option">
                      <option value="" disabled selected>Choose a type</option>
                      <option value="">String / No cast</option>
                      <option value="int">Integer</option>
                      <option value="float">Float</option>
                      <option value="date">Date</option>
                      <option value="boolean">Boolean</option>
                    </select>
                </div>

                <div class="w3-col l1 w3-container" style="margin-top:22px">
                    <button id='filter-btn-add' class="w3-button"><b>Add filter</b></button>
                </div>
            </div>

            <!--
              --
              --
              --  Grouping section
              --
              --
              -->
            <h3 class="w3-text-teal">Grouping points</h3>

            <ul id='groups-list'></ul>

            <div class="w3-row w3-margin-bottom">


                <div class="w3-col l3 w3-container">
                    <label><b>Column</b></label>
                    <select id='groups-select-column'
                            class="w3-select"
                            name="option"
                            onchange="$('.groups-select-keynode').hide(500); $('#groups-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                        <option value="" disabled selected>Choose a column</option>

                        <optgroup label="Test">
                            <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                            <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                            <option value="Test_details" table-name='TestInstances' column='Details' paramName='groups-select-Testkeyname'>Test details</option>
                            <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                        </optgroup>

                        <optgroup label="Test type">
                            <option value="TestTypes_id" table-name='TestTypes' column='Testtype_id'>TestTypes id</option>
                            <option value="TestTypes_name" table-name='TestTypes' column='name'>TestTypes name</option>
                            <option value="TestTypes_details" table-name='TestTypes' column='Details' paramName='groups-select-TestTypekeyname'>TestTypes details</option>
                        </optgroup>

                        <optgroup label="Subtest instance">
                            <option value="SubTestInstances_id" table-name='SubTestInstances' column='Subtest_id'>SubTestInstances id</option>
                            <option value="SubTestInstances_name" table-name='SubTestInstances' column='name'>SubTestInstances name</option>
                            <option value="SubTestInstances_details" table-name='SubTestInstances' column='Details' paramName='groups-select-SubtestInstkeyname'>SubTestInstances details</option>
                            <option value="SubTestInstances_pass" table-name='SubTestInstances' column='pass'>SubTestInstances pass</option>
                        </optgroup>

                        <optgroup label="Devices">
                            <option value="Equipment_id" table-name='Devices' column='Eq_id'>Device id</option>
                            <option value="Equipment_name" table-name='Devices' column='Name'>Device name</option>
                            <option value="Equipment_details" table-name='Devices' column='Details' paramName='groups-select-Devicekeyname'>Device details</option>
                        </optgroup>

                        <optgroup label="Measurement">
                            <option value="MeasurementInstances_id" table-name='MeasurementInstances' column='measure_id'>MeasurementInstances id</option>
                            <option value="MeasurementInstances_name" table-name='MeasurementInstances' column='Name'>MeasurementInstances name</option>
                            <option value="MeasurementInstances_results" table-name='MeasurementInstances' column='result' paramName='groups-select-Resultkeyname'>MeasurementInstances details</option>
                            <option value="MeasurementInstances_pass" table-name='MeasurementInstances' column='pass'>MeasurementInstances pass</option>
                        </optgroup>

                    </select>
                </div>

                <!-- GROUPS: Parameters inputs (description keys) -->
                <div id='groups-select-Test_detailskeynode' class="w3-col l2 w3-container groups-select-keynode" style="display: none">
                    <label><b>Test desc. key</b></label>
                    <input id='groups-select-Testkeyname' class="w3-input" type="text">
                </div>

                <div id='groups-select-TestTypes_detailskeynode' class="w3-col l2 w3-container groups-select-keynode" style="display: none">
                    <label><b>TestType desc. key</b></label>
                    <input id='groups-select-TestTypekeyname' class="w3-input" type="text">
                </div>

                <div id='groups-select-SubTestInstances_detailskeynode' class="w3-col l2 w3-container groups-select-keynode" style="display: none">
                    <label><b>Subtest desc. key</b></label>
                    <input id='groups-select-SubtestInstkeyname' class="w3-input" type="text">
                </div>

                <div id='groups-select-Equipment_detailskeynode' class="w3-col l2 w3-container groups-select-keynode" style="display: none">
                    <label><b>Device desc. key</b></label>
                    <input id='groups-select-Devicekeyname' class="w3-input" type="text">
                </div>

                <div id='groups-select-MeasurementInstances_resultskeynode' class="w3-col l2 w3-container groups-select-keynode" style="display: none">
                    <label><b>Result desc. key</b></label>
                    <input id='groups-select-Resultkeyname' class="w3-input" type="text">
                </div>

                <div id='groups-select-Settings_detailskeynode' class="w3-col l2 w3-container groups-select-keynode" style="display: none">
                    <label><b>Setting desc. key</b></label>
                    <input id='groups-select-Settingkeyname' class="w3-input" type="text">
                </div>

                <div id='groups-select-Extras_detailskeynode' class="w3-col l2 w3-container groups-select-keynode" style="display: none">
                    <label><b>Extra desc. key</b></label>
                    <input id='groups-select-Extraskeyname' class="w3-input" type="text">
                </div>

                <div class="w3-col l2 w3-container">
                    <label><b>Operator:</b></label>
                    <select id='groups-select-operator' class="w3-select" name="option"
                            onchange="$('.groups-select-operatorConfig').hide(500); $('#groups-select-'+this.options[this.selectedIndex].value+'Config').show(500);">
                      <option value="" selected>Select (opt.)</option>
                      <option value="ROUND"    paramClass='groups-select-ROUNDConfigInput'>Round</option>
                      <option value="DATECAST" paramClass='groups-select-DATECASTConfigInput'>Cast date</option>
                    </select>
                </div>

                <div id='groups-select-DATECASTConfig' class="w3-col l2 w3-container groups-select-operatorConfig" style="display: none"> <!-- Max width: l5 -->
                    <div id='groups-select-DATECASTConfig' class="w3-col l12 w3-container">
                        <label><b>Frequency</b></label>
                        <select paramName='freq' class="w3-select groups-select-DATECASTConfigInput" name="option">
                          <option value="" disabled selected>Select frequency</option>
                          <option value="Y">Yearly</option>
                          <option value="Q">Quarterly</option>
                          <option value="MS">Monthly</option>
                          <option value="D">Dayly</option>
                          <option value="H">Hourly</option>
                          <option value="T">Minutely</option>
                          <option value="S">Secondly</option>
                        </select>
                    </div>
                </div>

                <div id='groups-select-ROUNDConfig' class="w3-col l2 w3-container groups-select-operatorConfig" style="display: none"> <!-- Max width: l5 -->
                    <div id='groups-select-ROUNDConfig' class="w3-col l12 w3-container">
                        <label><b>Round value:</b></label>
                        <input paramName='roundVal' class="w3-input groups-select-ROUNDConfigInput" type="text">
                    </div>
                </div>

                <div class="w3-col l1 w3-container" style="margin-top:22px">
                    <button id='groups-btn-add' class="w3-button"><b>Add group</b></button>
                </div>

            </div>

            <!--
              --
              --
              --  Chart's configuration section
              --
              --
              -->
            <h3 class="w3-text-teal">Configure axis</h3>

            <div class="w3-row">
                <a id='xyTabBtn' href="javascript:void(0)" onclick="openTab(this, 'xyTab');">
                  <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">XY chart</div>
                </a>
                <a id='bchartTabBtn' href="javascript:void(0)" onclick="openTab(this, 'barchartTab');">
                  <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Bar chart</div>
                </a>
                <a id='histTabBtn' href="javascript:void(0)" onclick="openTab(this, 'histTab');">
                  <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Histogram</div>
                </a>
            </div>

            <div id='xyTab' class="w3-margin-bottom w3-section configTab" style="display:none">
                <div class="w3-col l12 w3-margin-bottom">
                    <div class="w3-col l3 w3-container">
                        <label><b>Type:</b></label>
                        <select id='xychar-select-type' class="w3-select" name="option">
                            <option value="" disabled selected>Select a type</option>
                            <option value="line">Line</option>
                            <option value="circle">Points</option>
                        </select>
                    </div>
                </div>
                <div class="w3-col l12 w3-margin-bottom">
                    <div class="w3-col l3 w3-container">
                        <label><b>X-axis:</b></label>
                        <select id='xaxis-select-column'
                                class="w3-select"
                                name="option"
                                onchange="$('.xaxis-select-keynode').hide(500); $('#xaxis-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                            <option value="" disabled selected>Choose a column</option>

                            <optgroup label="Test">
                                <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                                <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                                <option value="Test_details" table-name='TestInstances' column='Details' paramName='xaxis-select-Testkeyname'>Test details</option>
                                <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                            </optgroup>

                            <optgroup label="Test type">
                                <option value="TestTypes_id" table-name='TestTypes' column='Testtype_id'>TestTypes id</option>
                                <option value="TestTypes_name" table-name='TestTypes' column='name'>TestTypes name</option>
                                <option value="TestTypes_details" table-name='TestTypes' column='Details' paramName='xaxis-select-TestTypekeyname'>TestTypes details</option>
                            </optgroup>

                            <optgroup label="Subtest instance">
                                <option value="SubTestInstances_id" table-name='SubTestInstances' column='Subtest_id'>SubTestInstances id</option>
                                <option value="SubTestInstances_name" table-name='SubTestInstances' column='name'>SubTestInstances name</option>
                                <option value="SubTestInstances_details" table-name='SubTestInstances' column='Details' paramName='xaxis-select-SubtestInstkeyname'>SubTestInstances details</option>
                                <option value="SubTestInstances_pass" table-name='SubTestInstances' column='pass'>SubTestInstances pass</option>
                            </optgroup>

                            <optgroup label="Devices">
                                <option value="Equipment_id" table-name='Devices' column='Eq_id'>Device id</option>
                                <option value="Equipment_name" table-name='Devices' column='Name'>Device name</option>
                                <option value="Equipment_details" table-name='Devices' column='Details' paramName='xaxis-select-Devicekeyname'>Device details</option>
                            </optgroup>

                            <optgroup label="Measurement">
                                <option value="MeasurementInstances_id" table-name='MeasurementInstances' column='measure_id'>MeasurementInstances id</option>
                                <option value="MeasurementInstances_name" table-name='MeasurementInstances' column='Name'>MeasurementInstances name</option>
                                <option value="MeasurementInstances_results" table-name='MeasurementInstances' column='result' paramName='xaxis-select-Resultkeyname'>MeasurementInstances details</option>
                                <option value="MeasurementInstances_pass" table-name='MeasurementInstances' column='pass'>MeasurementInstances pass</option>
                            </optgroup>

                        </select>
                    </div>

                    <!-- XAXIS (XY Chart): Parameters inputs (description keys) -->
                    <div id='xaxis-select-Test_detailskeynode' class="w3-col l2 w3-container xaxis-select-keynode" style="display: none">
                        <label><b>Test desc. key</b></label>
                        <input id='xaxis-select-Testkeyname' class="w3-input" type="text">
                    </div>

                    <div id='xaxis-select-TestTypes_detailskeynode' class="w3-col l2 w3-container xaxis-select-keynode" style="display: none">
                        <label><b>TestType desc. key</b></label>
                        <input id='xaxis-select-TestTypekeyname' class="w3-input" type="text">
                    </div>

                    <div id='xaxis-select-SubTestInstances_detailskeynode' class="w3-col l2 w3-container xaxis-select-keynode" style="display: none">
                        <label><b>Subtest desc. key</b></label>
                        <input id='xaxis-select-SubtestInstkeyname' class="w3-input" type="text">
                    </div>

                    <div id='xaxis-select-Equipment_detailskeynode' class="w3-col l2 w3-container xaxis-select-keynode" style="display: none">
                        <label><b>Device desc. key</b></label>
                        <input id='xaxis-select-Devicekeyname' class="w3-input" type="text">
                    </div>

                    <div id='xaxis-select-MeasurementInstances_resultskeynode' class="w3-col l2 w3-container xaxis-select-keynode" style="display: none">
                        <label><b>Result desc. key</b></label>
                        <input id='xaxis-select-Resultkeyname' class="w3-input" type="text">
                    </div>

                    <div id='xaxis-select-Settings_detailskeynode' class="w3-col l2 w3-container xaxis-select-keynode" style="display: none">
                        <label><b>Setting desc. key</b></label>
                        <input id='xaxis-select-Settingkeyname' class="w3-input" type="text">
                    </div>

                    <div id='xaxis-select-Extras_detailskeynode' class="w3-col l2 w3-container xaxis-select-keynode" style="display: none">
                        <label><b>Extra desc. key</b></label>
                        <input id='xaxis-select-Extraskeyname' class="w3-input" type="text">
                    </div>
                </div>

                <div class="w3-col l12">
                    <div class="w3-col l3 w3-container">
                        <label><b>Y-axis:</b></label>
                        <select id='yaxis-select-column'
                                class="w3-select"
                                name="option"
                                onchange="$('.yaxis-select-keynode').hide(500); $('#yaxis-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                            <option value="" disabled selected>Choose a column</option>

                            <optgroup label="Test">
                                <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                                <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                                <option value="Test_details" table-name='TestInstances' column='Details' paramName='yaxis-select-Testkeyname'>Test details</option>
                                <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                            </optgroup>

                            <optgroup label="Test type">
                                <option value="TestTypes_id" table-name='TestTypes' column='Testtype_id'>TestTypes id</option>
                                <option value="TestTypes_name" table-name='TestTypes' column='name'>TestTypes name</option>
                                <option value="TestTypes_details" table-name='TestTypes' column='Details' paramName='yaxis-select-TestTypekeyname'>TestTypes details</option>
                            </optgroup>

                            <optgroup label="Subtest instance">
                                <option value="SubTestInstances_id" table-name='SubTestInstances' column='Subtest_id'>SubTestInstances id</option>
                                <option value="SubTestInstances_name" table-name='SubTestInstances' column='name'>SubTestInstances name</option>
                                <option value="SubTestInstances_details" table-name='SubTestInstances' column='Details' paramName='yaxis-select-SubtestInstkeyname'>SubTestInstances details</option>
                                <option value="SubTestInstances_pass" table-name='SubTestInstances' column='pass'>SubTestInstances pass</option>
                            </optgroup>

                            <optgroup label="Devices">
                                <option value="Equipment_id" table-name='Devices' column='Eq_id'>Device id</option>
                                <option value="Equipment_name" table-name='Devices' column='Name'>Device name</option>
                                <option value="Equipment_details" table-name='Devices' column='Details' paramName='yaxis-select-Devicekeyname'>Device details</option>
                            </optgroup>

                            <optgroup label="Measurement">
                                <option value="MeasurementInstances_id" table-name='MeasurementInstances' column='measure_id'>MeasurementInstances id</option>
                                <option value="MeasurementInstances_name" table-name='MeasurementInstances' column='Name'>MeasurementInstances name</option>
                                <option value="MeasurementInstances_results" table-name='MeasurementInstances' column='result' paramName='yaxis-select-Resultkeyname'>MeasurementInstances details</option>
                                <option value="MeasurementInstances_pass" table-name='MeasurementInstances' column='pass'>MeasurementInstances pass</option>
                            </optgroup>

                        </select>
                    </div>

                    <!-- YAXIS (XY Chart): Parameters inputs (description keys) -->
                    <div id='yaxis-select-Test_detailskeynode' class="w3-col l2 w3-container yaxis-select-keynode" style="display: none">
                        <label><b>Test desc. key</b></label>
                        <input id='yaxis-select-Testkeyname' class="w3-input" type="text">
                    </div>

                    <div id='yaxis-select-TestTypes_detailskeynode' class="w3-col l2 w3-container yaxis-select-keynode" style="display: none">
                        <label><b>TestType desc. key</b></label>
                        <input id='yaxis-select-TestTypekeyname' class="w3-input" type="text">
                    </div>

                    <div id='yaxis-select-SubTestInstances_detailskeynode' class="w3-col l2 w3-container yaxis-select-keynode" style="display: none">
                        <label><b>Subtest desc. key</b></label>
                        <input id='yaxis-select-SubtestInstkeyname' class="w3-input" type="text">
                    </div>

                    <div id='yaxis-select-Equipment_detailskeynode' class="w3-col l2 w3-container yaxis-select-keynode" style="display: none">
                        <label><b>Device desc. key</b></label>
                        <input id='yaxis-select-Devicekeyname' class="w3-input" type="text">
                    </div>

                    <div id='yaxis-select-MeasurementInstances_resultskeynode' class="w3-col l2 w3-container yaxis-select-keynode" style="display: none">
                        <label><b>Result desc. key</b></label>
                        <input id='yaxis-select-Resultkeyname' class="w3-input" type="text">
                    </div>

                    <div id='yaxis-select-Settings_detailskeynode' class="w3-col l2 w3-container yaxis-select-keynode" style="display: none">
                        <label><b>Setting desc. key</b></label>
                        <input id='yaxis-select-Settingkeyname' class="w3-input" type="text">
                    </div>

                    <div id='yaxis-select-Extras_detailskeynode' class="w3-col l2 w3-container yaxis-select-keynode" style="display: none">
                        <label><b>Extra desc. key</b></label>
                        <input id='yaxis-select-Extraskeyname' class="w3-input" type="text">
                    </div>
                </div>
            </div>

            <div id='barchartTab' class="w3-margin-bottom w3-section configTab" style="display:none">
                <div class="w3-col l12 w3-margin-bottom">
                    <div class="w3-col l3 w3-container">
                        <label><b>X-axis:</b></label>
                        <select id='barchart-select-column'
                                class="w3-select"
                                name="option"
                                onchange="$('.barchart-select-keynode').hide(500); $('#barchart-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                            <option value="" disabled selected>Choose a column</option>

                            <optgroup label="Test">
                                <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                                <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                                <option value="Test_details" table-name='TestInstances' column='Details' paramName='barchart-select-Testkeyname'>Test details</option>
                                <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                            </optgroup>

                            <optgroup label="Test type">
                                <option value="TestTypes_id" table-name='TestTypes' column='Testtype_id'>TestTypes id</option>
                                <option value="TestTypes_name" table-name='TestTypes' column='name'>TestTypes name</option>
                                <option value="TestTypes_details" table-name='TestTypes' column='Details' paramName='barchart-select-TestTypekeyname'>TestTypes details</option>
                            </optgroup>

                            <optgroup label="Subtest instance">
                                <option value="SubTestInstances_id" table-name='SubTestInstances' column='Subtest_id'>SubTestInstances id</option>
                                <option value="SubTestInstances_name" table-name='SubTestInstances' column='name'>SubTestInstances name</option>
                                <option value="SubTestInstances_details" table-name='SubTestInstances' column='Details' paramName='barchart-select-SubtestInstkeyname'>SubTestInstances details</option>
                                <option value="SubTestInstances_pass" table-name='SubTestInstances' column='pass'>SubTestInstances pass</option>
                            </optgroup>

                            <optgroup label="Devices">
                                <option value="Equipment_id" table-name='Devices' column='Eq_id'>Device id</option>
                                <option value="Equipment_name" table-name='Devices' column='Name'>Device name</option>
                                <option value="Equipment_details" table-name='Devices' column='Details' paramName='barchart-select-Devicekeyname'>Device details</option>
                            </optgroup>

                            <optgroup label="Measurement">
                                <option value="MeasurementInstances_id" table-name='MeasurementInstances' column='measure_id'>MeasurementInstances id</option>
                                <option value="MeasurementInstances_name" table-name='MeasurementInstances' column='Name'>MeasurementInstances name</option>
                                <option value="MeasurementInstances_results" table-name='MeasurementInstances' column='result' paramName='barchart-select-Resultkeyname'>MeasurementInstances details</option>
                                <option value="MeasurementInstances_pass" table-name='MeasurementInstances' column='pass'>MeasurementInstances pass</option>
                            </optgroup>

                        </select>
                    </div>

                    <!-- YAXIS (XY Chart): Parameters inputs (description keys) -->
                    <div id='barchart-select-Test_detailskeynode' class="w3-col l2 w3-container barchart-select-keynode" style="display: none">
                        <label><b>Test desc. key</b></label>
                        <input id='barchart-select-Testkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchart-select-TestTypes_detailskeynode' class="w3-col l2 w3-container barchart-select-keynode" style="display: none">
                        <label><b>TestType desc. key</b></label>
                        <input id='barchart-select-TestTypekeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchart-select-SubTestInstances_detailskeynode' class="w3-col l2 w3-container barchart-select-keynode" style="display: none">
                        <label><b>Subtest desc. key</b></label>
                        <input id='barchart-select-SubtestInstkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchart-select-Equipment_detailskeynode' class="w3-col l2 w3-container barchart-select-keynode" style="display: none">
                        <label><b>Device desc. key</b></label>
                        <input id='barchart-select-Devicekeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchart-select-MeasurementInstances_resultskeynode' class="w3-col l2 w3-container barchart-select-keynode" style="display: none">
                        <label><b>Result desc. key</b></label>
                        <input id='barchart-select-Resultkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchart-select-Settings_detailskeynode' class="w3-col l2 w3-container barchart-select-keynode" style="display: none">
                        <label><b>Setting desc. key</b></label>
                        <input id='barchart-select-Settingkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchart-select-Extras_detailskeynode' class="w3-col l2 w3-container barchart-select-keynode" style="display: none">
                        <label><b>Extra desc. key</b></label>
                        <input id='barchart-select-Extraskeyname' class="w3-input" type="text">
                    </div>

                    <div class="w3-col l2 w3-container">
                        <label><b>Operator:</b></label>
                        <select id='barchart-select-operator' class="w3-select" name="option"
                            onchange="$('.barchart-select-operatorConfig').hide(500); $('#barchart-select-'+this.options[this.selectedIndex].value+'Config').show(500);">
                          <option value="NONE" disabled selected>Select (opt.)</option>
                          <option value="NONE">None</option>
                          <option value="ROUND" paramClass='barchart-select-ROUNDConfigInput'>Round</option>
                          <option value="DATECAST" paramClass='barchart-select-DATECASTConfigInput'>Cast date</option>
                        </select>
                    </div>

                    <div id='barchart-select-DATECASTConfig' class="w3-col l2 w3-container barchart-select-operatorConfig" style="display: none"> <!-- Max width: l5 -->
                        <div id='barchart-select-DATECASTConfig' class="w3-col l12 w3-container">
                            <label><b>Frequency</b></label>
                            <select paramName='freq' class="w3-select barchart-select-DATECASTConfigInput" name="option">
                              <option value="" disabled selected>Select frequency</option>
                              <option value="Y">Yearly</option>
                              <option value="Q">Quarterly</option>
                              <option value="MS">Monthly</option>
                              <option value="D">Dayly</option>
                              <option value="H">Hourly</option>
                              <option value="T">Minutely</option>
                              <option value="S">Secondly</option>
                            </select>
                        </div>
                    </div>

                    <div id='barchart-select-ROUNDConfig' class="w3-col l2 w3-container barchart-select-operatorConfig" style="display: none"> <!-- Max width: l5 -->
                        <div id='barchart-select-ROUNDConfig' class="w3-col l12 w3-container">
                            <label><b>Round value:</b></label>
                            <input paramName='roundVal' class="w3-input barchart-select-ROUNDConfigInput" type="text">
                        </div>
                        <div id='barchart-select-ROUNDConfig' class="w3-col l12 w3-container">
                            <label><b>Dividor value:</b></label>
                            <input paramName='division' class="w3-input barchart-select-ROUNDConfigInput" type="text">
                        </div>
                    </div>
                </div>

                <div class="w3-col l12 w3-margin-bottom">
                    <div class="w3-col l3 w3-container">
                        <label><b>Y-axis:</b></label>
                        <select id='barchartYAxis-select-column'
                                class="w3-select"
                                name="option"
                                onchange="$('.barchartYAxis-select-keynode').hide(500); $('#barchartYAxis-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                            <option value="" disabled selected>Choose a column</option>

                            <optgroup label="Test">
                                <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                                <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                                <option value="Test_details" table-name='TestInstances' column='Details' paramName='barchartYAxis-select-Testkeyname'>Test details</option>
                                <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                            </optgroup>

                            <optgroup label="Test type">
                                <option value="TestTypes_id" table-name='TestTypes' column='Testtype_id'>TestTypes id</option>
                                <option value="TestTypes_name" table-name='TestTypes' column='name'>TestTypes name</option>
                                <option value="TestTypes_details" table-name='TestTypes' column='Details' paramName='barchartYAxis-select-TestTypekeyname'>TestTypes details</option>
                            </optgroup>

                            <optgroup label="Subtest instance">
                                <option value="SubTestInstances_id" table-name='SubTestInstances' column='Subtest_id'>SubTestInstances id</option>
                                <option value="SubTestInstances_name" table-name='SubTestInstances' column='name'>SubTestInstances name</option>
                                <option value="SubTestInstances_details" table-name='SubTestInstances' column='Details' paramName='barchartYAxis-select-SubtestInstkeyname'>SubTestInstances details</option>
                                <option value="SubTestInstances_pass" table-name='SubTestInstances' column='pass'>SubTestInstances pass</option>
                            </optgroup>

                            <optgroup label="Devices">
                                <option value="Equipment_id" table-name='Devices' column='Eq_id'>Device id</option>
                                <option value="Equipment_name" table-name='Devices' column='Name'>Device name</option>
                                <option value="Equipment_details" table-name='Devices' column='Details' paramName='barchartYAxis-select-Devicekeyname'>Device details</option>
                            </optgroup>

                            <optgroup label="Measurement">
                                <option value="MeasurementInstances_id" table-name='MeasurementInstances' column='measure_id'>MeasurementInstances id</option>
                                <option value="MeasurementInstances_name" table-name='MeasurementInstances' column='Name'>MeasurementInstances name</option>
                                <option value="MeasurementInstances_results" table-name='MeasurementInstances' column='result' paramName='barchartYAxis-select-Resultkeyname'>MeasurementInstances details</option>
                                <option value="MeasurementInstances_pass" table-name='MeasurementInstances' column='pass'>MeasurementInstances pass</option>
                            </optgroup>

                        </select>
                    </div>

                    <!-- YAXIS (XY Chart): Parameters inputs (description keys) -->
                    <div id='barchartYAxis-select-Test_detailskeynode' class="w3-col l2 w3-container barchartYAxis-select-keynode" style="display: none">
                        <label><b>Test desc. key</b></label>
                        <input id='barchartYAxis-select-Testkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchartYAxis-select-TestTypes_detailskeynode' class="w3-col l2 w3-container barchartYAxis-select-keynode" style="display: none">
                        <label><b>TestType desc. key</b></label>
                        <input id='barchartYAxis-select-TestTypekeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchartYAxis-select-SubTestInstances_detailskeynode' class="w3-col l2 w3-container barchartYAxis-select-keynode" style="display: none">
                        <label><b>Subtest desc. key</b></label>
                        <input id='barchartYAxis-select-SubtestInstkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchartYAxis-select-Equipment_detailskeynode' class="w3-col l2 w3-container barchartYAxis-select-keynode" style="display: none">
                        <label><b>Device desc. key</b></label>
                        <input id='barchartYAxis-select-Devicekeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchartYAxis-select-MeasurementInstances_resultskeynode' class="w3-col l2 w3-container barchartYAxis-select-keynode" style="display: none">
                        <label><b>Result desc. key</b></label>
                        <input id='barchartYAxis-select-Resultkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchartYAxis-select-Settings_detailskeynode' class="w3-col l2 w3-container barchartYAxis-select-keynode" style="display: none">
                        <label><b>Setting desc. key</b></label>
                        <input id='barchartYAxis-select-Settingkeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchartYAxis-select-Extras_detailskeynode' class="w3-col l2 w3-container barchartYAxis-select-keynode" style="display: none">
                        <label><b>Extra desc. key</b></label>
                        <input id='barchartYAxis-select-Extraskeyname' class="w3-input" type="text">
                    </div>

                    <div id='barchart-select-type' class="w3-col l2 w3-container">
                        <label><b>Aggregation:</b></label>
                        <select id='barchart-select-typeInput' class="w3-select" name="option">
                          <option value="" disabled selected>Select frequency</option>
                          <option value="count">Count</option>
                          <option value="max">Max.</option>
                          <option value="min">Min.</option>
                          <option value="mean">Average</option>
                        </select>
                    </div>
                </div>
            </div>

            <!---------------------------------
            ------ HISTOGRAM TAB --------------
            ----------------------------------->
            <div id='histTab' class="w3-margin-bottom w3-section configTab" style="display:none">
                <div class="w3-col l12 w3-margin-bottom">
                    <div class="w3-col l3 w3-container">
                        <label><b>Axis:</b></label>
                        <select id='hist-select-column'
                                class="w3-select"
                                name="option"
                                onchange="$('.hist-select-keynode').hide(500); $('#hist-select-'+this.options[this.selectedIndex].value+'keynode').show(500);">
                            <option value="" disabled selected>Choose a column</option>

                            <optgroup label="Test">
                                <option value="Test_id" table-name='TestInstances' column='test_id' >Test id</option>
                                <option value="Test_date" table-name='TestInstances' column='date'>Test date</option>
                                <option value="Test_details" table-name='TestInstances' column='Details' paramName='hist-select-Testkeyname'>Test details</option>
                                <option value="Test_pass" table-name='TestInstances' column='Pass'>Test pass</option>
                            </optgroup>

                            <optgroup label="Test type">
                                <option value="TestTypes_id" table-name='TestTypes' column='Testtype_id'>TestTypes id</option>
                                <option value="TestTypes_name" table-name='TestTypes' column='name'>TestTypes name</option>
                                <option value="TestTypes_details" table-name='TestTypes' column='Details' paramName='hist-select-TestTypekeyname'>TestTypes details</option>
                            </optgroup>

                            <optgroup label="Subtest instance">
                                <option value="SubTestInstances_id" table-name='SubTestInstances' column='Subtest_id'>SubTestInstances id</option>
                                <option value="SubTestInstances_name" table-name='SubTestInstances' column='name'>SubTestInstances name</option>
                                <option value="SubTestInstances_details" table-name='SubTestInstances' column='Details' paramName='hist-select-SubtestInstkeyname'>SubTestInstances details</option>
                                <option value="SubTestInstances_pass" table-name='SubTestInstances' column='pass'>SubTestInstances pass</option>
                            </optgroup>

                            <optgroup label="Devices">
                                <option value="Equipment_id" table-name='Devices' column='Eq_id'>Device id</option>
                                <option value="Equipment_name" table-name='Devices' column='Name'>Device name</option>
                                <option value="Equipment_details" table-name='Devices' column='Details' paramName='hist-select-Devicekeyname'>Device details</option>
                            </optgroup>

                            <optgroup label="Measurement">
                                <option value="MeasurementInstances_id" table-name='MeasurementInstances' column='measure_id'>MeasurementInstances id</option>
                                <option value="MeasurementInstances_name" table-name='MeasurementInstances' column='Name'>MeasurementInstances name</option>
                                <option value="MeasurementInstances_results" table-name='MeasurementInstances' column='result' paramName='hist-select-Resultkeyname'>MeasurementInstances details</option>
                                <option value="MeasurementInstances_pass" table-name='MeasurementInstances' column='pass'>MeasurementInstances pass</option>
                            </optgroup>

                        </select>
                    </div>

                    <!-- YAXIS (XY Chart): Parameters inputs (description keys) -->
                    <div id='hist-select-Test_detailskeynode' class="w3-col l2 w3-container hist-select-keynode" style="display: none">
                        <label><b>Test desc. key</b></label>
                        <input id='hist-select-Testkeyname' class="w3-input" type="text">
                    </div>

                    <div id='hist-select-TestTypes_detailskeynode' class="w3-col l2 w3-container hist-select-keynode" style="display: none">
                        <label><b>TestType desc. key</b></label>
                        <input id='hist-select-TestTypekeyname' class="w3-input" type="text">
                    </div>

                    <div id='hist-select-SubTestInstances_detailskeynode' class="w3-col l2 w3-container hist-select-keynode" style="display: none">
                        <label><b>Subtest desc. key</b></label>
                        <input id='hist-select-SubtestInstkeyname' class="w3-input" type="text">
                    </div>

                    <div id='hist-select-Equipment_detailskeynode' class="w3-col l2 w3-container hist-select-keynode" style="display: none">
                        <label><b>Device desc. key</b></label>
                        <input id='hist-select-Devicekeyname' class="w3-input" type="text">
                    </div>

                    <div id='hist-select-MeasurementInstances_resultskeynode' class="w3-col l2 w3-container hist-select-keynode" style="display: none">
                        <label><b>Result desc. key</b></label>
                        <input id='hist-select-Resultkeyname' class="w3-input" type="text">
                    </div>

                    <div id='hist-select-Settings_detailskeynode' class="w3-col l2 w3-container hist-select-keynode" style="display: none">
                        <label><b>Setting desc. key</b></label>
                        <input id='hist-select-Settingkeyname' class="w3-input" type="text">
                    </div>

                    <div id='hist-select-Extras_detailskeynode' class="w3-col l2 w3-container hist-select-keynode" style="display: none">
                        <label><b>Extra desc. key</b></label>
                        <input id='hist-select-Extraskeyname' class="w3-input" type="text">
                    </div>

                    <div class="w3-col l2 w3-container">
                        <label><b>Operator:</b></label>
                        <select id='hist-select-operator' class="w3-select" name="option"
                            onchange="$('.hist-select-operatorConfig').hide(500); $('#hist-select-'+this.options[this.selectedIndex].value+'Config').show(500);">
                          <option value="NONE" disabled selected>Select (opt.)</option>
                          <option value="NONE">None</option>
                          <option value="ROUND" paramClass='hist-select-ROUNDConfigInput'>Round</option>
                          <option value="DATECAST" paramClass='hist-select-DATECASTConfigInput'>Cast date</option>
                        </select>
                    </div>

                    <div id='hist-select-DATECASTConfig' class="w3-col l2 w3-container hist-select-operatorConfig" style="display: none"> <!-- Max width: l5 -->
                        <div id='hist-select-DATECASTConfig' class="w3-col l12 w3-container">
                            <label><b>Frequency</b></label>
                            <select paramName='freq' class="w3-select hist-select-DATECASTConfigInput" name="option">
                              <option value="" disabled selected>Select frequency</option>
                              <option value="Y">Yearly</option>
                              <option value="Q">Quarterly</option>
                              <option value="MS">Monthly</option>
                              <option value="D">Dayly</option>
                              <option value="H">Hourly</option>
                              <option value="T">Minutely</option>
                              <option value="S">Secondly</option>
                            </select>
                        </div>
                    </div>

                    <div id='hist-select-ROUNDConfig' class="w3-col l2 w3-container hist-select-operatorConfig" style="display: none"> <!-- Max width: l5 -->
                        <div id='hist-select-ROUNDConfig' class="w3-col l12 w3-container">
                            <label><b>Round value:</b></label>
                            <input paramName='roundVal' class="w3-input hist-select-ROUNDConfigInput" type="text">
                        </div>
                        <div id='hist-select-ROUNDConfig' class="w3-col l12 w3-container">
                            <label><b>Dividor value:</b></label>
                            <input paramName='division' class="w3-input hist-select-ROUNDConfigInput" type="text">
                        </div>
                    </div>
                </div>

                <div class="w3-col l12 w3-margin-bottom">
                    Currently, bins is fixed to 100.. an input will come later on.
                </div>

            </div>

            <!--
              --
              --
              --  Generate section
              --
              --
              -->
            <h3 class="w3-text-teal">Generate</h3>

            <div class="w3-row w3-margin-bottom">
                <button class="export-btn w3-button" target-url="/admin/testing/analyze/GetGraph"><b>GET GRAPH</b></button>
            </div>

            <form id="form-export"  method='post' style='display: none;' target="_blank">
                <input type="text" name="filter" id="form-filters">
                <input type="text" name="groups" id="form-groups">
                <input type="text" name="chart" id="form-chart">
            </form>

        </div>
    </div>

    <form id="form-export" style="display: none;">
        <input type="hidden" id= "form-filters" />
        <input type="hidden" id= "form-groups" />
        <input type="hidden" id= "form-chart" />
    </form>

    <script>

        var chartType = null;

        function openTab(el, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("configTab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-border-teal", "");
            }
            document.getElementById(cityName).style.display = "block";
            el.firstElementChild.className += " w3-border-teal";

            if(cityName == 'xyTab')
                chartType = 'XY';
            else if(cityName == 'barchartTab')
                chartType = 'barchart';
            else if(cityName == 'histTab')
                chartType = 'histogram';
        }

        function addFilter(table, column, jsonfield, type, comp, val){

            if(type == null){
                type = '';
            }

            var filterText = type+' ('+table+'.'+column;
            if(jsonfield != ''){
                filterText += '['+jsonfield+']';
            }
            filterText += ') '+comp+' '+val;

            $('#filter-list').append('<li type="'+type+'" column="'+column+'" jsonfield="'+jsonfield+'" comp="'+comp+'" val="'+val+'" tablename="'+table+'">'+
                    '    <span>'+filterText+'</span> '+
                    '    <span class="w3-text-red remove-btn" title="Remove" onclick="$(this).removeFilter()"><b>x</b></span>'+
                    '</li>');
        }

        function addGroup(table, column, jsonfield, op, opParams){

                var filterText = '<b>'+column;

                if(jsonfield != ''){
                    filterText += '['+jsonfield+']';
                }
                filterText += '</b>';

                if(op != ''){
                    filterText += ' - '+op;
                }

                var cnt = 0;
                if(opParams != ''){
                    filterText += '(';
                    $.each(opParams, function(key, val){
                        if(cnt > 0) filterText += ', ';
                            filterText += key+'='+val;
                            cnt++;
                    });
                    filterText += ')';
                }

                $('#groups-list').append('<li tablename="'+table+'" column=\''+column+'\' jsonfield=\''+jsonfield+'\' op=\''+op+'\' opparams=\''+JSON.stringify(opParams)+'\'>'+
                        '    <span>'+filterText+'</span> '+
                        '    <span class="w3-text-red remove-btn" title="Remove" onclick="$(this).removeFilter()"><b>x</b></span>'+
                        '</li>');
        }

        $(document).ready( function() {
            'use strict';

            openTab(document.getElementById('xyTabBtn'), 'xyTab');

            $('#filter-select-comp').change(function(){
                console.log('Value: '+$(this).val())
                if($(this).val() == 'IS NULL' || $(this).val() == 'IS NOT NULL'){
                    $('#filter-select-valuenode').fadeOut(500);
                    $('#filter-select-value').val('');
                }
                else{
                    $('#filter-select-valuenode').fadeIn(500);
                }
            });


            /**
              *
              * Click on "Add Filter" button
              *
              **/
            $('#filter-btn-add').click(function(){

                var table = $('#filter-select-column').find(":selected").attr('table-name');
                var column = $('#filter-select-column').find(":selected").attr('column');
                var jsonfield = '';
                var type = $('#filter-select-type').val();
                var comp = $('#filter-select-comp').val();
                var val = $('#filter-select-value').val();

                if($('#filter-select-column').find(":selected").attr('paramName')){
                    jsonfield = $('#'+$('#filter-select-column').find(":selected").attr('paramName')).val();
                }

                $('#errorbox').hide(500);
                addFilter(table, column, jsonfield, type, comp, val)
            });


            /**
              *
              * Click on "Add Group" button
              *
              **/
            $('#groups-btn-add').click(function(){
                var table = $('#groups-select-column').find(":selected").attr('table-name');
                var column = $('#groups-select-column').find(":selected").attr('column');
                var jsonfield = '';

                if($('#groups-select-column').find(":selected").attr('paramName')){
                    jsonfield = $('#'+$('#groups-select-column').find(":selected").attr('paramName')).val();
                }

                var op = $('#groups-select-operator').val();
                var opParams = ''

                if($('#groups-select-operator').find(":selected").attr('paramClass')){
                    opParams = {};

                    $('.'+$('#groups-select-operator').find(":selected").attr('paramClass')).each(function(){
                        opParams[$(this).attr('paramName')] = $(this).val();
                    });
                }

                addGroup(table, column, jsonfield, op, opParams);
                $('#errorbox').hide(500);
            });
        });

        /**
          *
          * Click on generate button
          *
          **/
        $('.export-btn').click(function(){

            var filters = [];
            var groups = [];

            /** Get filters */
            $('#filter-list > li').each(function(){

                var obj = {
                        'table'     : $(this).attr('tablename'),
                        'column'    : $(this).attr('column'),
                        'jsonfield' : $(this).attr('jsonfield'),
                        'val'       : $(this).attr('val'),
                        'comp'      : $(this).attr('comp'),
                        'type'      : $(this).attr('type')
                    }

                $.each(obj, function(key, value){
                    if (value === "" || value === null){
                        delete obj[key];
                    }
                });

                filters.push(obj);

            });

            /** Get groupBy */
            $('#groups-list > li').each(function(){

                var obj = {
                    'table'      : $(this).attr('tablename'),
                    'column'     : $(this).attr('column'),
                    'jsonfield'  : $(this).attr('jsonfield'),
                    'op'         : $(this).attr('op')
                }

                opparams = $.parseJSON($(this).attr('opparams'));
                $.each(opparams, function(key,val) { obj[key] = val });

                $.each(obj, function(key, value){
                    if (value === "" || value === null){
                        delete obj[key];
                    }
                });

                groups.push(obj);
            });


            /** Get chart's configuration */
            chartObj = {}

            /* XY chart */
            if (chartType == 'XY'){
                var xobj = {
                    'table' : $('#xaxis-select-column').find(":selected").attr('table-name'),
                    'column': $('#xaxis-select-column').find(":selected").attr('column')
                }
                if($('#xaxis-select-column').find(":selected").attr('paramName')){
                    xobj['jsonfield'] = $('#'+$('#xaxis-select-column').find(":selected").attr('paramName')).val();
                }

                $.each(xobj, function(key, value){
                    if (value === "" || value === null){
                        delete xobj[key];
                    }
                });

                var yobj = {
                    'table' : $('#yaxis-select-column').find(":selected").attr('table-name'),
                    'column': $('#yaxis-select-column').find(":selected").attr('column')
                }
                if($('#yaxis-select-column').find(":selected").attr('paramName')){
                    yobj['jsonfield'] = $('#'+$('#yaxis-select-column').find(":selected").attr('paramName')).val();
                }

                $.each(yobj, function(key, value){
                    if (value === "" || value === null){
                        delete yobj[key];
                    }
                });

                chartObj = {'type': 'xy', 'subtype': $('#xychar-select-type').val(), 'x': xobj, 'y': yobj};

            /* barchart chart */
            } else if(chartType == 'barchart'){
                //xAxis
                var bchartGrpObj = {
                        'table' : $('#barchart-select-column').find(":selected").attr('table-name'),
                        'column': $('#barchart-select-column').find(":selected").attr('column')
                    }

                if($('#barchart-select-column').find(":selected").attr('paramName')){
                    bchartGrpObj['jsonfield'] = $('#'+$('#barchart-select-column').find(":selected").attr('paramName')).val();
                }
                $.each(bchartGrpObj, function(key, value){
                    if (value === "" || value === null){
                        delete bchartGrpObj[key];
                    }
                });

                //Operator
                var operator = {'op': $('#barchart-select-operator').val()}

                if($('#barchart-select-operator').find(":selected").attr('paramClass')){
                    $('.'+$('#barchart-select-operator').find(":selected").attr('paramClass')).each(function(){
                        operator[$(this).attr('paramName')] = $(this).val();
                    });
                }
                $.each(operator, function(key, value){
                    if (value === "" || value === null){
                        delete operator[key];
                    }
                });

                //yAxis

                bchartY = {
                        'table' : $('#barchartYAxis-select-column').find(":selected").attr('table-name'),
                        'column': $('#barchartYAxis-select-column').find(":selected").attr('column')
                    }

                if($('#barchartYAxis-select-column').find(":selected").attr('paramName')){
                    bchartY['jsonfield'] = $('#'+$('#barchartYAxis-select-column').find(":selected").attr('paramName')).val();
                }
                $.each(bchartY, function(key, value){
                    if (value === "" || value === null){
                        delete bchartY[key];
                    }
                });


                chartObj = {'type': 'barchart', 'agg' : $('#barchart-select-typeInput').val(), 'op': operator, 'x': bchartGrpObj, 'y':bchartY}

            } else if(chartType == 'histogram') {
                //xAxis
                var histGrpObj = {
                        'table' : $('#hist-select-column').find(":selected").attr('table-name'),
                        'column': $('#hist-select-column').find(":selected").attr('column')
                    }

                if($('#hist-select-column').find(":selected").attr('paramName')){
                    histGrpObj['jsonfield'] = $('#'+$('#hist-select-column').find(":selected").attr('paramName')).val();
                }
                $.each(histGrpObj, function(key, value){
                    if (value === "" || value === null){
                        delete histGrpObj[key];
                    }
                });

                //Operator
                var operator = {'op': $('#hist-select-operator').val()}

                if($('#hist-select-operator').find(":selected").attr('paramClass')){
                    $('.'+$('#hist-select-operator').find(":selected").attr('paramClass')).each(function(){
                        operator[$(this).attr('paramName')] = $(this).val();
                    });
                }
                $.each(operator, function(key, value){
                    if (value === "" || value === null){
                        delete operator[key];
                    }
                });

                chartObj = {'type': 'histogram', 'op': operator, 'x': histGrpObj}
            }

            /** Fill form and send data */
            $('#form-filters').val(JSON.stringify(filters));
            $('#form-groups').val(JSON.stringify(groups));
            $('#form-chart').val(JSON.stringify(chartObj));

            $('#form-export').attr('action', $(this).attr('target-url'));

            $('#form-export').submit();

        });
    </script>
</div>