<div class="w3-container main-container">
    <div class="w3-container w3-card w3-white" id="response-node"></div>

    <script>
        $('#response-node').format_test(JSON.parse('{{data|safe}}'));
    </script>
</div>