<div class="w3-container main-container">
    <div class="w3-row subnav-container">
        <a href="/support/faq" class="w3-button w3-grey subnav">F.A.Q</a>
        <a href="/support/tickets" class="w3-button w3-white subnav active">Tickets</a>
    </div>

    <div class="w3-white w3-card w3-margin-bottom">
        <div class="w3-container w3-padding" style="text-align: justify">

            {% if threads %}
                <h3 class="w3-text-teal">Search</h3>

                <div class="w3-margin-bottom">
                    <div class="w3-row">
                        <div style="margin-top:10px;" class="w3-col l12 m12 s12">
                            <input autocomplete="off" class="w3-input w3-border" type="text" id="ticket-filter" placeholder="Search for ticket..." required name="title">
                        </div>
                    </div>
                </div>

                <h4><span id='article-cnt'></span> r&eacute;sult(s):</h4>

                {% for support_status in support_status_list %}
                    <div class="w3-row ticket-list">
                    <h3 class="w3-text-teal" style="cursor: pointer" onclick="$(this).toggleClass('hidden'); $('#ticket-status-{{support_status['id']}}').toggle();">
                        <i class="fas fa-eye w3-margin-right"></i><span class='cnt'></span> {{support_status['name']}}
                    </h3>
                    <div id="ticket-status-{{support_status['id']}}">
                    {% for thread in threads %}
                        {% if thread['supportthreads_status'] == support_status['id'] %}
                            <div class="w3-third w3-container w3-margin-bottom ticket" data-title="{{thread['supportthreads_name']}}">
                                <a style="cursor: pointer; text-decoration: none;" href="/ticket/{{thread['supportthreads_ticketnb']}}" style="text-decoration: none">
                                  <div class="w3-container w3-white w3-border w3-hover-opacity w3-hover-teal">
                                    <p>
                                        <b><div style="display: inline-block; max-width: calc(100% - 100px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{thread['supportthreads_name']}} </div></b>
                                    </p>
                                    <div style="margin: 0; padding:0; line-height: 1.5em; height:3em; max-height:3em; overflow: hidden;">
                                        <p style="text-align: justify; line-height: 1.5em; margin:0; padding: 0;text-decoration: none" >{{thread['users_email']}}</p>
                                    </div>
                                    <span class="w3-right"><b>{{thread['statusVerbose']}}</b></span>
                                  </div>
                                </a>
                            </div>
                        {% endif %}
                    {%endfor%}
                    </div>
                    </div>
                {% endfor %}

            {%endif%}
        </div>
    </div>

    <script>
        $('#article-cnt').html($('.ticket').length);

        $('#ticket-filter').keyup(function(){
            filter = $(this).val().toUpperCase();
            count = 0;
            $('.ticket').each(function(){
                txtValue = $(this).attr('data-title');
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  $(this).fadeIn(200);
                  $(this).attr('shown','true');
                  count += 1;
                } else {
                  $(this).attr('shown','false');
                  $(this).fadeOut(200);
                }
            });

            $('#article-cnt').html(''+count);

            $('.ticket-list').each(function(){
                if($(this).find('.ticket[shown="true"]').length <= 0){
                    $(this).hide();
                } else {
                    //$(this).find('.cnt')[0].html($(this).find('.ticket[shown="true"]').length);
                    $(this).show();
                }
            });

        });
    </script>
</div>